<div id=float-layer class=float-layer>
	<i id=close-ad class="close-ad material-icons md-18 md-light"></i>
	<br>
	<div id="social-buttons" class="social-buttons">
	<div class=facebook-button>
		<a href="" class="share-facebook"  ></a>
	</div>
	<div class=twitter-button>
		<a href="" class="share-twitter"  ></a>
	</div>
	
	</div>
	<div id=ad class=ad>
		<script>var adParams = {s: 4301059, w: 300, h: 250, c: 1, blank: false}; </script><script src="//js.srcsmrtgs.com/js/ad.js"></script>
	</div>
</div>