<div id=float-layer>
	<div id=close-ad></div>
	<div id=ad>
		<div class=kontextuaDisplayREGULARSS300x250></div>
		<script src="http://cf.ads.kontextua.com/container/tags/77796.js"></script>
		<script>var adParams = {s: 4301061, w: 300, h: 250, c: 1, blank: false}; </script><script src="http://js.srcsmrtgs.com/js/ad.js"></script>
	</div>
	<div id=facebook> 
		<div id=fb-root></div>
			<script>(function(d, s, id){var js, fjs=d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js=d.createElement(s); js.id=id; js.src="//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.3"; fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
		<div class=fb-page data-href=https://www.facebook.com/colgadotv data-width=320 data-height=180 data-hide-cover=false data-show-facepile=false data-show-posts=false>
			<div class=fb-xfbml-parse-ignore>
			<blockquote cite=https://www.facebook.com/colgadotv>
			<a href=https://www.facebook.com/colgadotv>Colgado del Cable</a>
			</blockquote>
			</div>
		</div>
	</div>
</div>