<div id=float-layer>
	<i id=close-ad class="material-icons md-18 md-light">close</i>
	<div id=ad>
		<div class=kontextuaDisplayREGULARSS300x250></div>
		<script src="http://cf.ads.kontextua.com/container/tags/71110.js"></script>
		<script>var adParams = {s: 4301061, w: 300, h: 250, c: 1, blank: false}; </script>
		<script src="http://js.srcsmrtgs.com/js/ad.js"></script>
	</div>
	<br>
	<div id="social-buttons">
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.8";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		</script>
		<div class="fb-share-button social-button" data-href="http://colgado.tv" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Compartir</a></div>

		<a href="https://twitter.com/share" class="twitter-share-button social-button">Tweet</a>
		<script>
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
		</script>
	</div>

	<div id=facebook> 
		<div id=fb-root></div>
		<script type="text/javascript" src="/view/js/facebook.js" ></script>
		<div class=fb-page data-href=https://www.facebook.com/colgadotv data-width=320 data-height=180 data-hide-cover=false data-show-facepile=false data-show-posts=false>
		<div class=fb-xfbml-parse-ignore>
		<blockquote cite=https://www.facebook.com/colgadotv>
		<a href=https://www.facebook.com/colgadotv>Colgado del Cable</a>
		</blockquote>
		</div>
		</div>
	</div>
</div>