<div class="card">
	<div class="ayuda">
		<span class="titulo">REQUERIMIENTOS</span>
		<br>
		Para poder ver todos los canales es necesario, antes que nada, contar con un buen navegador. Actualmente, los mejores navegadores son:
		<br>
		<div id="browsers">
			<a href="http://www.mozilla.org/es-AR/firefox/new/" class="ayuda">
				<img class="logo-browser" height="60" width="60" src="/view/imgs/link-firefox.png" alt="Mozilla Firefox"/>
			</a>
			<a href="http://www.opera.com/es-419" class="ayuda">
				<img class="logo-browser" height="60" width="60" src="/view/imgs/link-opera.png" alt="Opera"/>
			</a>
			<a href="http://www.google.com/chrome">
				<img class="logo-browser" height="60" width="60" src="/view/imgs/link-chrome.png" alt="Google Chrome"/>
			</a>
		</div>
	</div>
	<div class="ayuda">
		<span class="titulo">TRANSMISIONES NO DISPONIBLES</span>
		<br>    
		Cuando la transmisi&oacute;n del canal o radio que desea abrir no se encuentra disponible, por favor env&iacute;e un mensaje a trav&eacute;s de la secci&oacute;n contacto especificando la transmisi&oacute;n que no funciona.
		<br>
	</div>
	<div class="ayuda">
		<span class="titulo">CERRAR PUBLICIDADES</span>
		<br>
		Colgado del Cable dispone de publicidades en un solo lugar, en los banners que aparecen al cargar cada canal de tv. Cerrar la publicad es sencillo e intuitivo, solo basta con hacer click en la cruz roja.
		<br>
		<p><img src="/view/imgs/publi1.png" height="196" width="390" class="img-ayuda" alt="Cerrar Publicidad"/></p>
		<br>
	</div>
	<div class="ayuda">    
		Canales como la TV P&uacute;blica que se obtienen a trav&eacute;s de la transmisi&oacute;n oficial solo tienen esa publicidad, pero otros canales se obtienen a trav&eacute;s de sitios de terceros y estos incluyen m&aacute;s publicidades. Estas suelen ser confusas y malintencionadas.
		<br>
		<p><img src="/view/imgs/publi2.png" height="244" width="390" class="img-ayuda" alt="Cerrar Publicidad"/></p>
	</div>
	<div class="ayuda">
		Para cerralas hay que evitar hacer click en lugares enga&ntilde;osos. En estas publicidades hay que buscar las cruces grises que se reparten por todo el banner.    Muchas veces se terminan abriendo p&aacute;ginas pidiendo a los usuarios n&uacute;meros de tel&eacute;fono o bajar ciertos programas, por favor ignorar esa clase de mensajes. Este sitio no necesita ning&uacute;n programa desconocido, ni registro de ning&uacute;n tipo para reproducir las transmisiones.
		<br>
	</div>
	<div class="ayuda">
		<span class="titulo">BLOQUEAR PUBLICIDADES</span><br>
		Para bloquear las publicidades solo hay que instalar una extensi&oacute;n llamada "AdBlock Plus" disponible para <a href="https://addons.mozilla.org/es/firefox/addon/adblock-plus/" class="ayuda">Firefox</a>y	<a href="https://chrome.google.com/webstore/detail/gighmmpiobklfepjocnamgkkbiglidom" class="ayuda">Chrome</a>. No es muy recomendable debido a que varias transmisiones no funcionan cuando detectan este plugin instalado.
	</div>
</div>