<div class=card>
	<div class=help>
		<span class=titulo>NAVEGADOR</span>
		<br>
		Para poder ver todos los canales es necesario, antes que nada, contar con un buen navegador. Actualmente, los mejores son:
		<br>
		<div id=browsers>
			<a href="http://www.mozilla.org/es-AR/firefox/new/" class="help" target="_blank">
				<img class=logo-browser height=60 width=60 src="/view/imgs/link-firefox.png" alt="Mozilla Firefox"/>
			</a>
			<a href="http://www.opera.com/es-419" class="help" target="_blank">
				<img class=logo-browser height=60 width=60 src="/view/imgs/link-opera.png" alt="Opera"/>
			</a>
			<a href="http://www.google.com/chrome" target="_blank">
				<img class=logo-browser height=60 width=60 src="/view/imgs/link-chrome.png" alt="Google Chrome"/>
			</a>
		</div>
	</div>
	<div class=help>
		<span class=titulo>TRANSMISIONES NO DISPONIBLES</span>
		<br>    
		Cuando una transmisi&oacute;n de tv o radio no se encuentre disponible, por favor env&iacute;e un mensaje a trav&eacute;s de la secci&oacute;n <a href="/contacto" class=help>contacto</a> o de nuestra <a class=help target="_blank" href="https://www.facebook.com/colgadotv/">p&aacute;gina de facebook.</a>
		<br>
	</div>
	<div class=help>
		<span class=titulo>PUBLICIDADES</span><br>
		Ignorar todas las publicidades que sugieran descargar un programa o ingresar un n&uacute;mero de tel&eacute;fono o cualquier otro dato personal. Este sitio no necesita ning&uacute;n programa adicional, ni datos personales para funcionar.
	</div>
	<div class=help>
		<span class=titulo>BLOQUEAR PUBLICIDADES</span><br>
		Para bloquear las publicidades existe un plugin llamado "AdBlock Plus" disponible para <a href="https://addons.mozilla.org/es/firefox/addon/adblock-plus/" class="help" target="_blank">Firefox</a> - <a href="https://addons.opera.com/es-419/extensions/details/opera-adblock/" class=help target="_blank">Opera</a> - <a href="https://chrome.google.com/webstore/detail/gighmmpiobklfepjocnamgkkbiglidom" class=help target="_blank">Chrome</a><br>
		Algunas transmisiones no funcionan cuando detectan esta extensi&oacute;n  instalada.
	</div>
</div>