<div class=card>
	<form action="../contacto/captcha.php" id=form-contact class=form-contact method=post >		
		<input id=name name=name class=input-contact type=text placeholder=Nombre required ><br>		
		<input id=email name=email class=input-contact type=email placeholder=Email required ><br>		
		<textarea id=message name=message class=input-contact placeholder=Mensaje required rows=3></textarea><br>
		<div id=send>
			<input type=submit value=ENVIAR  class=submit id=submit /><br>
			<a href="javascript:{}" onclick=submitContacto() class=button id=submit-link>ENVIAR</a>
		</div>
	</form>
	<div class="info">	
		<a class=logo-info target="_blank" href="https://www.facebook.com/colgadotv/"><img  width=20 height=20  src="/view/imgs/fb.png" alt="Facebook"/></a>
		<a class=logo-info target="_blank" href="https://github.com/gonzalocasal/colgado.tv"><img width=22 height=22  src="/view/imgs/git.png" alt="Repository"/></a>
	</div>
</div>
