<div class=card-contact>
	<form action="../contacto/captcha.php" id=form-contact class=form-contact method=post >		
		<input id=name name=name class=input-contact type=text placeholder=Nombre required ><br>		
		<input id=email name=email class=input-contact type=email placeholder=Email required ><br>		
		<textarea id=message name=message class=input-contact placeholder=Mensaje required rows=3></textarea><br>
		<div id=send>
			<input type=submit value=ENVIAR  class=submit id=submit /><br>
			<a href="javascript:{}" onclick=submitContacto() class=button id=submit-link>Enviar</a>
		</div>
	</form>
	<div class="info">	
		<a target="_blank" class=facebook href="https://www.facebook.com/colgadotv/"><i class="fab fa-facebook-square fa-lg"></i></a>
		<a target="_blank" class=github href="https://github.com/gonzalocasal/colgado.tv"><i class="fab fa-github  fa-lg"></i></a>
	</div>
</div>
