<li class=menu-item><a class=menu-link href="/tv/telefe">Telefe</a></li>
<li class=menu-item><a class=menu-link href="/tv/eltrece">El trece</a></li>
<li class=menu-item><a class=menu-link href="/tv/america">Am&eacute;rica</a></li>
<li class=menu-item><a class=menu-link href="/tv/tvpublica">Tv p&uacute;blica</a></li>
<li class=menu-item><a class=menu-link href="/tv/canal9">Canal 9</a></li>
<li class=menu-separator></li>
<li class=menu-item><a class=menu-link href="/tv/tycsports">TyC Sports</a></li>
<li class=menu-item><a class=menu-link href="/tv/dxtv">Deportv</a></li>
<li class=menu-item><a class=menu-link href="/tv/directvsports">Directv Sports</a></li>
<li class=menu-item><a class=menu-link href="/tv/garage">El garage tv</a></li>
<li class=menu-item><a class=menu-link href="/tv/foxsports">Fox Sports</a></li>
<li class=menu-item><a class=menu-link href="/tv/foxsports2">Fox Sports 2</a></li>
<li class=menu-item><a class=menu-link href="/tv/espn">ESPN</a></li>
<li class=menu-item><a class=menu-link href="/tv/espn2">ESPN 2</a></li>
<li class=menu-separator></li>
<li class=menu-item><a class=menu-link href="/tv/tn">TN</a></li>
<li class=menu-item><a class=menu-link href="/tv/c5n">C5N</a></li>
<li class=menu-item><a class=menu-link href="/tv/ln+">LN+</a></li><br>
<li class=menu-item><a class=menu-link href="/tv/america24">Am&eacute;rica 24</a></li>
<li class=menu-item><a class=menu-link href="/tv/cronica">Cr&oacute;nica tv</a></li>
<li class=menu-item><a class=menu-link href="/tv/canal26">Canal 26</a></li><br>
<li class=menu-item><a class=menu-link href="/tv/telesur">Telesur</a></li>
<li class=menu-item><a class=menu-link href="/tv/rt">RT en espa&ntilde;ol</a></li>
<li class=menu-item><a class=menu-link href="/tv/cnn">CNN en espa&ntilde;ol</a></li>
<li class=menu-separator></li>
<li class=menu-item><a class=menu-link href="/tv/history">History</a></li>
<li class=menu-item><a class=menu-link href="/tv/discovery">Discovery</a></li>
<li class=menu-item><a class=menu-link href="/tv/natgeo">Nat geo</a></li>
<li class=menu-item><a class=menu-link href="/tv/id">Investigation discovery</a></li>
<li class=menu-item><a class=menu-link href="/tv/trutv">Trutv</a></li>
<li class=menu-item><a class=menu-link href="/tv/animalplanet">Animal planet</a></li>
<li class=menu-item><a class=menu-link href="/tv/tec">Tecnopolis tv</a></li>
<li class=menu-item><a class=menu-link href="/tv/encuentro">Encuentro</a></li>
<li class=menu-separator></li>
<li class=menu-item><a class=menu-link href="/tv/magazine">Ciudad magazine</a></li>
<li class=menu-item><a class=menu-link href="/tv/telemax">Telemax</a></li>
<li class=menu-item><a class=menu-link href="/tv/construirtv">Construir tv</a></li>
<li class=menu-item><a class=menu-link href="/tv/ciudad">Canal de la ciudad</a></li>
<li class=menu-item><a class=menu-link href="/tv/tvuniversidad">Tv universidad</a></li>
<li class=menu-item><a class=menu-link href="/tv/argentinisima">Argentinisima</a></li>
<li class=menu-item><a class=menu-link href="/tv/rural">Canal rural</a></li>
<li class=menu-separator></li>
<li class=menu-item><a class=menu-link href="/tv/mtv">MTV</a></li>
<li class=menu-item><a class=menu-link href="/tv/vh1">Vh1</a></li>
<li class=menu-item><a class=menu-link href="/tv/onetv">One tv</a></li>
<li class=menu-separator></li>
<li class=menu-item><a class=menu-link href="/tv/pakapaka">Paka Paka</a></li>
<li class=menu-item><a class=menu-link href="/tv/tateti">Tateti</a></li>
<li class=menu-item><a class=menu-link href="/tv/cartoon">Cartoon network</a></li>
<li class=menu-item><a class=menu-link href="/tv/nick">Nick</a></li>
<li class=menu-item><a class=menu-link href="/tv/discoverykids">Discovery kids</a></li>
<li class=menu-item><a class=menu-link href="/tv/disney">Disney channel</a></li>
<li class=menu-item><a class=menu-link href="/tv/disneyjunior">Disney junior</a></li>
<li class=menu-item><a class=menu-link href="/tv/disneyxd">Disney xd</a></li>
<li class=menu-separator></li>
<li class=menu-item><a class=menu-link href="/tv/fox">FOX</a></li>
<li class=menu-item><a class=menu-link href="/tv/fx">FX</a></li>
<li class=menu-item><a class=menu-link href="/tv/foxlife">FOX life</a></li>
<li class=menu-item><a class=menu-link href="/tv/warner">Warner</a></li>
<li class=menu-item><a class=menu-link href="/tv/universal">Universal</a></li>
<li class=menu-item><a class=menu-link href="/tv/axn">Axn</a></li>
<li class=menu-item><a class=menu-link href="/tv/sony">Sony</a></li>
<li class=menu-separator></li>
<li class=menu-item><a class=menu-link href="/tv/tnt">TNT</a></li>
<li class=menu-item><a class=menu-link href="/tv/space">Space</a></li>
<li class=menu-item><a class=menu-link href="/tv/cinecanal">Cinecanal</a></li>
<li class=menu-item><a class=menu-link href="/tv/studiouniversal">Studio universal</a></li>
<li class=menu-item><a class=menu-link href="/tv/isat">I-sat</a></li>
<li class=menu-item><a class=menu-link href="/tv/cinemax">Cinemax</a></li>
<li class=menu-item><a class=menu-link href="/tv/amc">Amc</a></li>
<li class=menu-item><a class=menu-link href="/tv/tcm">Tcm</a></li>
<li class=menu-item><a class=menu-link href="/tv/golden">Golden edge</a></li>
<li class=menu-item><a class=menu-link href="/tv/hbo">HBO</a></li>
<li class=menu-item><a class=menu-link href="/tv/hboplus">HBO plus</a></li>
<li class=menu-separator></li>
<li class=menu-item><a class=menu-link href="/radios/la100">La 100</a></li>
<li class=menu-item><a class=menu-link href="/radios/pop">Pop</a></li>
<li class=menu-item><a class=menu-link href="/radios/metro">Metro</a></li>
<li class=menu-item><a class=menu-link href="/radios/disney">Disney</a></li>
<li class=menu-item><a class=menu-link href="/radios/los40">Los 40</a></li>
<li class=menu-item><a class=menu-link href="/radios/rocknpop">Rock &#38; pop</a></li>
<li class=menu-item><a class=menu-link href="/radios/aspen">Aspen</a></li>
<li class=menu-item><a class=menu-link href="/radios/one">One</a></li>
<li class=menu-item><a class=menu-link href="/radios/nacionalrock">Nacional rock</a></li>
<li class=menu-item><a class=menu-link href="/radios/rqp">Rqp</a></li>
<li class=menu-item><a class=menu-link href="/radios/vale">Vale</a></li>
<li class=menu-item><a class=menu-link href="/radios/latina">Latina</a></li>
<li class=menu-item><a class=menu-link href="/radios/convos">Radio con vos</a></li>
<li class=menu-item><a class=menu-link href="/radios/mega">Mega</a></li>
<li class=menu-item><a class=menu-link href="/radios/vorterix">Vorterix</a></li>
<li class=menu-item><a class=menu-link href="/radios/milenium">Millenium</a></li>
<li class=menu-item><a class=menu-link href="/radios/blue">Fm blue</a></li>
<li class=menu-item><a class=menu-link href="/radios/espn">Espn radio</a></li>
<li class=menu-item><a class=menu-link href="/radios/pasion">Fm pasion</a></li>
<li class=menu-separator></li>
<li class=menu-item><a class=menu-link href="/radios/mitre">Mitre</a></li>
<li class=menu-item><a class=menu-link href="/radios/radio10">Radio 10</a></li>
<li class=menu-item><a class=menu-link href="/radios/lared">La red</a></li>
<li class=menu-item><a class=menu-link href="/radios/continental">Continental</a></li>
<li class=menu-item><a class=menu-link href="/radios/radionacional">Radio nacional</a></li>
<li class=menu-item><a class=menu-link href="/radios/delplata">Del plata</a></li>
<li class=menu-item><a class=menu-link href="/radios/am750">Am 750</a></li>
<li class=menu-item><a class=menu-link href="/radios/rivadavia">Rivadavia</a></li>
<li class=menu-item><a class=menu-link href="/radios/am950">Am 950</a></li>
<li class=menu-item><a class=menu-link href="/radios/america1190">Am&eacute;rica 1190</a></li>
<li class=menu-item><a class=menu-link href="/radios/cooperativa">Cooperativa</a></li>
<li class=menu-separator></li>
<li class=menu-item><a class=menu-link href="/radios/cadena3">Cadena 3</a></li>
<li class=menu-item><a class=menu-link href="/radios/delsol">Fm del sol</a></li>
<li class=menu-item><a class=menu-link href="/radios/brava">Brava</a></li>
<li class=menu-item><a class=menu-link href="/radios/vida">Fm vida</a></li>
<li class=menu-item><a class=menu-link href="/radios/la8">La 8</a></li>
<li class=menu-item><a class=menu-link href="/radios/la99">La 99.1</a></li>
<li class=menu-item><a class=menu-link href="/radios/red92">Red 92</a></li>
<li class=menu-item><a class=menu-link href="/radios/laredonda">La redonda</a></li>
<li class=menu-item><a class=menu-link href="/radios/cielo">Fm cielo</a></li>
<li class=menu-item><a class=menu-link href="/radios/coolradio">Cool radio</a></li>
<li class=menu-item><a class=menu-link href="/radios/lu24">Lu24 radio tres arroyos</a></li>
<li class=menu-item><a class=menu-link href="/radios/fm105">Fm 105</a></li>
<li class=menu-item><a class=menu-link href="/radios/ilusiones">Ilusiones</a></li>