<div class=container id=container ng-cloak >

	<div class="card-wrapper"><div class=card onclick="redirect('/tv/rusia2018')" title="Rusia 2018" ><a class="spritetv sprite-rusia2018"></a></div></div><br>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/telefe')" title="Telefe" ><a class="spritetv sprite-telefe"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/eltrece')" title="El Trece" ><a class="spritetv sprite-eltrece"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/america')" title="Am&eacute;rica" ><a class="spritetv sprite-america"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/tvpublica')" title="Tv P&uacute;blica" ><a class="spritetv sprite-tvp"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/canal9')" title="Canal 9" ><a class="spritetv sprite-canal9"></a></div></div>

	<div class="card-wrapper"><div class=card onclick="redirect('/tv/tycsports')" title="TyC Sports" ><a class="spritetv sprite-tycsports"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/dxtv')" title="Deportv" ><a class="spritetv sprite-dxtv"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/directvsports')" title="DirecTV Sports" ><a class="spritetv sprite-directvsports DirecTV Sports"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/garage')" title="Garage TV" ><a class="spritetv sprite-garage "></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/foxsports')" title="Fox Sports" ><a class="spritetv sprite-foxsports Fox Sports"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/foxsports2')" title="Fox Sports 2" ><a class="spritetv sprite-foxsports2 Fox Sports 2"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/espn')" title="ESPN" ><a class="spritetv sprite-espntv ESPN"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/espn2')" title="ESPN 2" ><a class="spritetv sprite-espn2 ESPN2"></a></div></div>

	<div class="card-wrapper"><div class=card onclick="redirect('/tv/tn')" title="TN" ><a class="spritetv sprite-tn"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/c5n')" title="C5N" ><a class="spritetv sprite-c5n"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/ln+')" title="LN+" ><a class="spritetv sprite-ln_"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/america24')" title="Am&eacute;rica 24" ><a class="spritetv sprite-a24"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/cronica')" title="Cr&oacute;nica" ><a class="spritetv sprite-cronica"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/canal26')" title="Canal 26" ><a class="spritetv sprite-canal26"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/telesur')" title="Telesur" ><a class="spritetv sprite-telesur"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/rt')" title="RT" ><a class="spritetv sprite-rt"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/cnn')" title="CNN" ><a class="spritetv sprite-cnn"></a></div></div>

	<div class="card-wrapper"><div class=card onclick="redirect('/tv/history')" title="History" ><a class="spritetv sprite-history History"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/discovery')" title="Discovery" ><a class="spritetv sprite-discovery Discovery"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/natgeo')" title="Nat Geo" ><a class="spritetv sprite-natgeo Nat Geo"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/id')" title="Investigation Discovery" ><a class="spritetv sprite-id Investigation Discovery"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/trutv')" title="" ><a class="spritetv sprite-trutv Trutv"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/animalplanet')" title="Animal Planet" ><a class="spritetv sprite-animalplanet Animal Planet"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/tec')" title="TEC" ><a class="spritetv sprite-tec Tecn&oacute;polis TV"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/encuentro')" title="" ><a class="spritetv sprite-encuentro Encuentro"></a></div></div>

	<div class="card-wrapper"><div class=card onclick="redirect('/tv/magazine')" title="Ciudad Magazine" ><a class="spritetv sprite-magazine Magazine"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/telemax')" title="Telemax" ><a class="spritetv sprite-telemax telemax"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/construirtv')" title="Construir TV" ><a class="spritetv sprite-construirtv Construir TV"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/ciudad')" title="Ciudad" ><a class="spritetv sprite-ciudad Canal de la Ciudad"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/tvuniversidad')" title="TV Universidad" ><a class="spritetv sprite-tvuniversidad TV Universidad"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/argentinisima')" title="Argentinisima" ><a class="spritetv sprite-argentinisima Argentin&iacute;sima"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/rural')" title="Canal Rural" ><a class="spritetv sprite-rural Canal Rural"></a></div></div>

	<div class="card-wrapper"><div class=card onclick="redirect('/tv/mtv')" title="MTV" ><a class="spritetv sprite-mtv MTV"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/vh1')" title="VH1" ><a class="spritetv sprite-vh1 VH1"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/onetv')" title="ONE TV" ><a class="spritetv sprite-onetv One Tv"></a></div></div>

	<div class="card-wrapper"><div class=card onclick="redirect('/tv/pakapaka')" title="PAKA PAKA" ><a class="spritetv sprite-pakapaka Paka Paka"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/cartoon')" title="Cartoon" ><a class="spritetv sprite-cartoon Cartoon Network"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/nick')" title="Nick" ><a class="spritetv sprite-nick Nick"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/discoverykids')" title="Discovery Kids" ><a class="spritetv sprite-discoverykids Discovery Kids"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/disney')" title="Disney" ><a class="spritetv sprite-disneychannel Disney Channel"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/disneyjunior')" title="Disney Junior" ><a class="spritetv sprite-disneyjunior Disney Junior"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/disneyxd')" title="Disney XD" ><a class="spritetv sprite-disneyxd Disney XD"></a></div></div>

	<div class="card-wrapper"><div class=card onclick="redirect('/tv/fox')" title="FOX" ><a class="spritetv sprite-fox FOX"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/fx')" title="FX" ><a class="spritetv sprite-fx FX"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/foxlife')" title="Fox Life" ><a class="spritetv sprite-foxlife Fox Life"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/warner')" title="Warner" ><a class="spritetv sprite-warner Warner"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/universal')" title="Universal" ><a class="spritetv sprite-universal Universal"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/axn')" title="AXN" ><a class="spritetv sprite-axn AXN"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/sony')" title="Sony" ><a class="spritetv sprite-sony Sony"></a></div></div>

	<div class="card-wrapper"><div class=card onclick="redirect('/tv/tnt')" title="TNT" ><a class="spritetv sprite-tnt TNT"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/space')" title="Space" ><a class="spritetv sprite-space Space"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/cinecanal')" title="Cinecanal" ><a class="spritetv sprite-cinecanal Cinecanal"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/studiouniversal')" title="Studio Universal" ><a class="spritetv sprite-studiouniversal Studio Universal"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/isat')" title="I-Sat" ><a class="spritetv sprite-isat I-Sat"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/cinemax')" title="Cinemax" ><a class="spritetv sprite-cinemax Cinemax"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/amc')" title="AMC" ><a class="spritetv sprite-amc AMC"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/tcm')" title="TCM" ><a class="spritetv sprite-tcm TCM"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/golden')" title="Golden Edge" ><a class="spritetv sprite-golden Golden Edge"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/hbo')" title="HBO" ><a class="spritetv sprite-hbo HBO"></a></div></div>
	<div class="card-wrapper"><div class=card onclick="redirect('/tv/hboplus')" title="HBO Plus" ><a class="spritetv sprite-hboplus HBO Plus"></a></div></div>

</div >