<script src="/cdn-cgi/apps/head/bdXKEs2GnhJP7BcpCR28GDM77_w.js"></script>
<script src="//ssl.p.jwpcdn.com/player/v/8.0.12/jwplayer.js"></script>
<script>
    jwplayer.key = 'XSuP4qMl+9tK17QNb+4+th2Pm9AWgMO/cYH8CI0HGGr7bdjo';
</script>
<div id="player">Cargando...</div>
<script>
    var _0x5d50=['substring','split','length','join'];(function(_0x2fbeca,_0x302170){var _0x1ae02f=function(_0x1066ee){while(--_0x1066ee){_0x2fbeca['push'](_0x2fbeca['shift']());}};_0x1ae02f(++_0x302170);}(_0x5d50,0x14d));var _0x2fb6=function(_0x2a2fed,_0x56f2ae){_0x2a2fed=_0x2a2fed-0x0;var _0x45aef5=_0x5d50[_0x2a2fed];return _0x45aef5;};function ckewhbvqauilospzfrtyjmgdxn(_0x577235,_0x101774){var _0x5ba90b=_0x101774[_0x2fb6('0x0')]('');var _0x104575=_0x5ba90b[_0x2fb6('0x1')];for(var _0x1b593c=_0x104575-0x1;_0x1b593c>=0x0;_0x1b593c--){var _0x543598=_0x1b593c*_0x577235%_0x104575;var _0x374569=_0x5ba90b[_0x1b593c];_0x5ba90b[_0x1b593c]=_0x5ba90b[_0x543598];_0x5ba90b[_0x543598]=_0x374569;}var _0x322c71=_0x5ba90b[_0x2fb6('0x2')]('');var _0x3b3d76=_0x322c71[_0x2fb6('0x3')](_0x104575-0x2,_0x104575);if(_0x3b3d76=='OK')return _0x322c71[_0x2fb6('0x3')](0x0,_0x104575-0x2);return null;}
    var zhelcqorpsnwaxtfkujvydimbg=ckewhbvqauilospzfrtyjmgdxn(Math.floor(Date.now() / 3600000),'3d5ef07273d05Ocb6e38472cb8bd0dfdKaffebb63a') || ckewhbvqauilospzfrtyjmgdxn(Math.floor(Date.now() / 3600000)-1,'3d5ef07273d05Ocb6e38472cb8bd0dfdKaffebb63a');
</script>
<script>
    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", "https://past-server.nedp.io/token/ar-elnueve-elnueve?rsk="+ zhelcqorpsnwaxtfkujvydimbg, true);
    xhttp.send();
    xhttp.onreadystatechange = function() {
        if (xhttp.readyState == 4 && xhttp.status == 200) {
            var jsonResponse = JSON.parse(xhttp.responseText);
            var m3u8 = "//ar-elnueve-elnueve-live.ned.media/live.m3u8?iut="+jsonResponse['token'];
            var playerInstance = jwplayer("player");
            playerInstance.setup({
                file: m3u8,
                type: "hls",
                width: "100%",
                height: "100%",
                aspectratio: "16:9",
                autostart: false,
                cast: {},
            });


        }
    }

</script>