<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://jwpsrv.com/library/40TpZB2+EeOLRiIACusDuQ.js"></script>
<script type="text/javascript">
    jwplayer("player").setup({
        file: "https://ar-elnueve-elnueve-live.ned.media/live.m3u8?iut=eyJwYXJhbXMiOnsiZXhwIjoxNTk2NTAyODM1LCJzZXNzaW9uIjoiMTUyLjE3MC4yMTAuMjE4Iiwid2hpdGVsaXN0IjpbIjE1Mi4xNzAuMjEwLjIxOCJdfSwic2lnbmF0dXJlIjoiZjY0Nzc0YTU1MjY2OTY3MTE0ODk4MzAxMjBjZGZhYjkxZGRiYzRlZCJ9",
        autostart: "true",
        width: "100%",
        aspectratio: "16:9"
    });
</script>





