<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div id=player-container class="player-container player-container-tv ">
	<div id=player></div>
	<script src="https://jwpsrv.com/library/40TpZB2+EeOLRiIACusDuQ.js"></script>
</div>

<a href="#" onclick="loadtyc()" id=link-tyc  style="display:none"  class=opcion2>Ver en Tyc Sports</a><br>
<a href="#" onclick="loadtvp()" id=link-tvp class=opcion2>Ver en la TV P&uacute;blica</a><br>

<script type="text/javascript" >
	
	function loadtyc() {
		$("#player").empty();
	
		
		$("#player").append('<iframe id=ciframe src="http://tvcanales.cf/channels/tycsports.html" width="900" height="506" allowfullscreen></iframe>');
		  
	  	$("#link-tvp").css("display", "block");
	  	$("#link-tyc").css("display", "none");
	}

	function loadtvp() {
		$("#player").empty();
		

		$("#player").append('<iframe class="embed-responsive-item" src="//televisionlibre.net/mundial2.html" scrolling="no" frameborder="0" alt="Ver en vivo TV Pública 3 Online por Internet" allowfullscreen=""></iframe>');


	  	$("#link-tvp").css("display", "none");
	  	$("#link-tyc").css("display", "block");
	}

	$(document).ready(function () {
		loadtyc();
	});

</script>

