    <script type="text/javascript" src="https://content.jwplatform.com/players/ubIUxrYq-k8DL16H5.js"></script>

    <script>
        if (window == window.top) {
            document.getElementById("title").style.display = "block";
            document.getElementById("description").style.display = "block";
            document.body.style.width = "70%";
            document.body.style.overflow = "visible";
        } else {
          /** Used to pass play/pause messages parent iframe via postMessage **/
          window.addEventListener("message", function(evt) {
            switch (evt.data) {
              case "play":
                jwplayer().play(true);
                break;
              case "pause":
                jwplayer().pause(true);
                break;
            }
          });
        }
    </script>
