<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://jwpsrv.com/library/40TpZB2+EeOLRiIACusDuQ.js"></script>
<script type="text/javascript">  
 	jwplayer("player").setup({
      	file: "https://playback.akamaized.net/streams/23200525_8361738_lsi2zx3ge8myv57fi47_1/media/23200525_8361738_lsi2zx3ge8myv57fi47_1@5256000p.m3u8?dw=80&ts=1536796800&hdn	ts=exp=1536971497~acl=/streams/23200525_8361738_lsi2zx3ge8myv57fi47_1/media*~hmac=29dff28974e50c12a159987fb2318e6f6ddc84e4a1ea6ab9f48958511dd33ea1",
    	autostart: "true",
    	width: "100%",
    	aspectratio: "16:9"
	});
</script>
