.float-layer {
opacity:0;
transition:opacity .5s linear;
background-color:rgba(255,255,255,.7);
display:block;
height:450px;
left:0;
margin-left:auto;
margin-right:auto;
position:absolute;
right:0;
top:90px;
width:800px;
z-index:998
}

.ad {
display:inline-flex
}

.social-buttons{
margin-bottom: 50px;
margin-top: 15px
}

.share-facebook, .share-twitter {
background-repeat: no-repeat;
display: block;
opacity: 0.4;
margin-right: 30px;
height:24px;
width:24px;
o-transition:.2s;
-ms-transition:.2s;
-moz-transition:.2s;
-webkit-transition:.2s;
transition:.2s
}

.share-facebook {
background-image: url("/view/imgs/ad-fb-black.png");
}

.share-twitter {
background-image: url("/view/imgs/ad-twitter-black.png");
width:38px;
}

.facebook-button, .twitter-button{
display: inline-flex;
}

.facebook-button a:hover{
background-image: url("/view/imgs/ad-fb.png");
opacity: 1;
}

.twitter-button a:hover{
background-image: url("/view/imgs/ad-twitter.png");
opacity: 1;
}

.close-ad {
color: #ff002b;
cursor:pointer;
position:absolute;
top:10px;
left:710px;
z-index:999;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
}

.close-ad:before {
content: "close";
font-size: 25px;
position: absolute;
right: 1em;
padding: 0 1px;
font-family: "Material Icons";
-webkit-transition-duration: 0.5s;
transition-duration: 0.5s;
-webkit-transition-property: transform;
transition-property: transform;
-webkit-transition-timing-function: ease-in-out;
transition-timing-function: ease-in-out
}
.close-ad:active:before,
.close-ad:focus:before,
.close-ad:hover:before {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
}