.float-layer {
background-color:rgba(0,0,0, 0.2);
transition:opacity .5s linear;
display:block;
margin-left:auto;
margin-right:auto;
position:absolute;
opacity: 0;
right:0;
left:0;
height:506px;
top:75px;
width:900px;
z-index:998
}

.close-ad {
color: #ff002b;
cursor:pointer;
position:absolute;
top:10px;
opacity: 0;
left:720px;
z-index:999;
transition:opacity .5s linear;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
}

.close-ad:before {
content: "close";
font-size: 25px;
position: absolute;
right: 1em;
padding: 0 1px;
font-family: "Material Icons";
-webkit-transition-duration: 0.5s;
transition-duration: 0.5s;
-webkit-transition-property: transform;
transition-property: transform;
-webkit-transition-timing-function: ease-in-out;
transition-timing-function: ease-in-out
}

.close-ad:active:before,
.close-ad:focus:before,
.close-ad:hover:before {
-webkit-transform: rotate(360deg);
transform: rotate(360deg)
}

.ad {
display:inline-flex
}

.social-buttons{
margin-bottom: 20px;
margin-top: 15px
}

.share-facebook, .share-twitter {
background-repeat: no-repeat;
display: block;
opacity: 0.4;
height:24px;
width:24px;
o-transition:.2s;
-ms-transition:.2s;
-moz-transition:.2s;
-webkit-transition:.2s;
transition:.2s
}

.share-facebook {
background-image: url("/view/imgs/ad-fb-black.png");
margin-right: 30px;
}

.share-twitter {
background-image: url("/view/imgs/ad-twitter-black.png");
width:38px;
}

.facebook-button, .twitter-button{
display: inline-flex;
}

.facebook-button a:hover{
opacity: 1;
}

.twitter-button a:hover{
opacity: 1;
}

.trackedUrls{
display: none;
}