.contact-label {
vertical-align:top;
display:inline-block;
color:#989898;
font-size: 0.95em;
font-weight:400;
text-align:right;
width:50px
}

.button {
box-shadow:0 2px 5px rgba(0,0,0,.4);
background-color:#FF2676;
color:#fff;
display:inline-block;
font-family:roboto;
font-size: 0.95em;
font-weight:600;
moz-border-radius:5px;
text-decoration:none;
padding:6px 20px;
margin-bottom: 15px;
transition: .3s
o-transition: .3s;
-ms-transition: .3s;
-moz-transition: .3s;
-webkit-transition: .3s
}

.form-contact {
padding:1%;
margin-top: 10px
}

textarea {
resize:none
}

.info {
margin-top: 15px;
text-align:center
}

.logo-info {
padding-right: 8px;
transition: .3s
o-transition: .3s;
-ms-transition: .3s;
-moz-transition: .3s;
-webkit-transition: .3s
}

.logo-info:hover,
.button:hover {
    opacity: .7
}

.g-recaptcha {
display:inline-block;
margin-bottom: 20px;
margin-top: 10px
}

.input-contact {
font-family:roboto;
border:none;
border-bottom:1px solid #ccc;
font-weight: 400;
color: #333;
font-size:0.875em;
width:250px;
margin:0 0 17px 7px;
padding:5px 2px 2px
}

.input-contact:focus {
border-bottom:2px solid #FF2676;
outline:0;
width:250px
}

.submit {
display:none
}

.boton:active {
position:relative;
top:1px
}

.modal {
display: block;
position: fixed;
z-index: 999;
padding-top: 100px;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0,0.4)
}

.modal-content {
position: relative;
background-color: #fefefe;
margin: auto;
padding: 0;
border: 1px solid #888;
width: 350px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s
}

.modal-body {
padding: 2px 16px
}

@-webkit-keyframes animatetop {
from {top:-300px; opacity:0} 
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}


