
.sprite-am750 {
    width: 99px;
    height: 33px;
    background-position: -5px -5px;
}

.sprite-am950 {
    width: 98px;
    height: 25px;
    background-position: -114px -5px;
}

.sprite-america1190 {
    width: 100px;
    height: 39px;
    background-position: -222px -5px;
}

.sprite-aspen {
    width: 57px;
    height: 67px;
    background-position: -332px -5px;
}

.sprite-blue {
    width: 57px;
    height: 56px;
    background-position: -399px -5px;
}

.sprite-brava {
    width: 93px;
    height: 36px;
    background-position: -5px -71px;
}

.sprite-cadena3 {
    width: 125px;
    height: 20px;
    background-position: -108px -82px;
}

.sprite-cielo {
    width: 84px;
    height: 44px;
    background-position: -399px -71px;
}

.sprite-continental {
    width: 48px;
    height: 58px;
    background-position: -5px -125px;
}

.sprite-coolradio {
    width: 133px;
    height: 28px;
    background-position: -243px -82px;
}

.sprite-cooperativa {
    width: 57px;
    height: 55px;
    background-position: -63px -125px;
}

.sprite-delplata {
    width: 57px;
    height: 56px;
    background-position: -130px -125px;
}

.sprite-delsol {
    width: 69px;
    height: 53px;
    background-position: -197px -125px;
}

.sprite-disney {
    width: 74px;
    height: 70px;
    background-position: -276px -125px;
}

.sprite-espn {
    width: 143px;
    height: 36px;
    background-position: -5px -205px;
}

.sprite-fm105 {
    width: 112px;
    height: 41px;
    background-position: -360px -125px;
}

.sprite-fmpasion {
    width: 83px;
    height: 57px;
    background-position: -360px -176px;
}

.sprite-ilusiones {
    width: 101px;
    height: 55px;
    background-position: -158px -243px;
}

.sprite-la100 {
    width: 69px;
    height: 71px;
    background-position: -269px -243px;
}

.sprite-la8 {
    width: 100px;
    height: 40px;
    background-position: -348px -243px;
}

.sprite-la99 {
    width: 68px;
    height: 51px;
    background-position: -5px -293px;
}

.sprite-lared {
    width: 60px;
    height: 59px;
    background-position: -83px -293px;
}

.sprite-laredonda {
    width: 95px;
    height: 66px;
    background-position: -348px -293px;
}

.sprite-latina {
    width: 101px;
    height: 39px;
    background-position: -5px -369px;
}

.sprite-los40 {
    width: 81px;
    height: 56px;
    background-position: -116px -369px;
}

.sprite-lu24 {
    width: 57px;
    height: 56px;
    background-position: -207px -369px;
}

.sprite-mega {
    width: 108px;
    height: 35px;
    background-position: -274px -369px;
}

.sprite-metro {
    width: 72px;
    height: 63px;
    background-position: -392px -369px;
}

.sprite-milenium {
    width: 65px;
    height: 64px;
    background-position: -493px -5px;
}

.sprite-mitre {
    width: 89px;
    height: 57px;
    background-position: -453px -176px;
}

.sprite-nacionalrock {
    width: 122px;
    height: 45px;
    background-position: -5px -442px;
}

.sprite-one {
    width: 83px;
    height: 29px;
    background-position: -458px -243px;
}

.sprite-pop {
    width: 86px;
    height: 51px;
    background-position: -458px -282px;
}

.sprite-radio10 {
    width: 90px;
    height: 47px;
    background-position: -137px -442px;
}

.sprite-radionacional {
    width: 117px;
    height: 45px;
    background-position: -237px -442px;
}

.sprite-radiox {
    width: 59px;
    height: 62px;
    background-position: -493px -79px;
}

.sprite-red92 {
    width: 84px;
    height: 68px;
    background-position: -474px -343px;
}

.sprite-rivadavia {
    width: 98px;
    height: 55px;
    background-position: -364px -442px;
}

.sprite-rocknpop {
    width: 89px;
    height: 66px;
    background-position: -568px -5px;
}

.sprite-rqp {
    width: 78px;
    height: 33px;
    background-position: -562px -81px;
}

.sprite-vale {
    width: 62px;
    height: 61px;
    background-position: -562px -124px;
}

.sprite-vida {
    width: 105px;
    height: 34px;
    background-position: -158px -195px;
}

.sprite-vorterix {
    width: 60px;
    height: 58px;
    background-position: -552px -195px;
}
