.sprite-am750 {
    width: 99px;
    height: 33px;
    background-position: -5px -5px;
}

.sprite-am950 {
    width: 98px;
    height: 25px;
    background-position: -114px -5px;
}

.sprite-america1190 {
    width: 100px;
    height: 39px;
    background-position: -222px -5px;
}

.sprite-aspen {
    width: 57px;
    height: 67px;
    background-position: -332px -5px;
}

.sprite-blue {
    width: 57px;
    height: 56px;
    background-position: -399px -5px;
}

.sprite-brava {
    width: 93px;
    height: 36px;
    background-position: -5px -71px;
}

.sprite-cadena3 {
    width: 125px;
    height: 20px;
    background-position: -108px -82px;
}

.sprite-cielo {
    width: 84px;
    height: 44px;
    background-position: -243px -82px;
}

.sprite-continental {
    width: 48px;
    height: 58px;
    background-position: -399px -71px;
}

.sprite-coolradio {
    width: 133px;
    height: 28px;
    background-position: -5px -139px;
}

.sprite-cooperativa {
    width: 57px;
    height: 55px;
    background-position: -148px -139px;
}

.sprite-delplata {
    width: 57px;
    height: 56px;
    background-position: -215px -139px;
}

.sprite-delsol {
    width: 69px;
    height: 53px;
    background-position: -282px -139px;
}

.sprite-disney {
    width: 74px;
    height: 70px;
    background-position: -361px -139px;
}

.sprite-espn {
    width: 143px;
    height: 36px;
    background-position: -5px -219px;
}

.sprite-fm105 {
    width: 112px;
    height: 41px;
    background-position: -158px -219px;
}

.sprite-fmpasion {
    width: 83px;
    height: 57px;
    background-position: -280px -219px;
}

.sprite-ilusiones {
    width: 101px;
    height: 55px;
    background-position: -373px -219px;
}

.sprite-la100 {
    width: 69px;
    height: 71px;
    background-position: -5px -284px;
}

.sprite-la8 {
    width: 100px;
    height: 40px;
    background-position: -84px -284px;
}

.sprite-la99 {
    width: 68px;
    height: 51px;
    background-position: -194px -284px;
}

.sprite-lared {
    width: 60px;
    height: 59px;
    background-position: -373px -284px;
}

.sprite-laredonda {
    width: 95px;
    height: 66px;
    background-position: -84px -353px;
}

.sprite-latina {
    width: 101px;
    height: 39px;
    background-position: -189px -353px;
}

.sprite-los40 {
    width: 81px;
    height: 56px;
    background-position: -300px -353px;
}

.sprite-lu24 {
    width: 57px;
    height: 56px;
    background-position: -391px -353px;
}

.sprite-mega {
    width: 108px;
    height: 35px;
    background-position: -189px -419px;
}

.sprite-metro {
    width: 72px;
    height: 63px;
    background-position: -307px -419px;
}

.sprite-milenium {
    width: 65px;
    height: 64px;
    background-position: -466px -5px;
}

.sprite-mitre {
    width: 89px;
    height: 57px;
    background-position: -457px -79px;
}

.sprite-nacionalrock {
    width: 122px;
    height: 45px;
    background-position: -389px -419px;
}

.sprite-one {
    width: 83px;
    height: 29px;
    background-position: -445px -146px;
}

.sprite-pop {
    width: 86px;
    height: 51px;
    background-position: -443px -284px;
}

.sprite-radio10 {
    width: 90px;
    height: 47px;
    background-position: -458px -345px;
}

.sprite-radionacional {
    width: 117px;
    height: 45px;
    background-position: -5px -474px;
}

.sprite-radiox {
    width: 59px;
    height: 62px;
    background-position: -484px -185px;
}

.sprite-red92 {
    width: 84px;
    height: 68px;
    background-position: -132px -474px;
}

.sprite-rivadavia {
    width: 98px;
    height: 55px;
    background-position: -389px -474px;
}

.sprite-rocknpop {
    width: 89px;
    height: 66px;
    background-position: -556px -5px;
}

.sprite-rqp {
    width: 78px;
    height: 33px;
    background-position: -556px -81px;
}

.sprite-vale {
    width: 62px;
    height: 61px;
    background-position: -556px -124px;
}

.sprite-vida {
    width: 105px;
    height: 34px;
    background-position: -539px -257px;
}

.sprite-vorterix {
    width: 61px;
    height: 50px;
    background-position: -553px -195px;
}
