.sprite-am750 {
    width: 81px;
    height: 51px;
    background-position: -5px -5px;
}

.sprite-america1190 {
    width: 100px;
    height: 39px;
    background-position: -96px -5px;
}

.sprite-aspen {
    width: 57px;
    height: 67px;
    background-position: -206px -5px;
}

.sprite-blue {
    width: 57px;
    height: 56px;
    background-position: -273px -5px;
}

.sprite-brava {
    width: 116px;
    height: 45px;
    background-position: -340px -5px;
}

.sprite-cadena3 {
    width: 125px;
    height: 20px;
    background-position: -340px -60px;
}

.sprite-cielo {
    width: 84px;
    height: 44px;
    background-position: -96px -60px;
}

.sprite-continental {
    width: 48px;
    height: 58px;
    background-position: -5px -90px;
}

.sprite-coolradio {
    width: 133px;
    height: 28px;
    background-position: -190px -90px;
}

.sprite-cooperativa {
    width: 54px;
    height: 56px;
    background-position: -333px -90px;
}

.sprite-delplata {
    width: 61px;
    height: 50px;
    background-position: -397px -90px;
}

.sprite-delsol {
    width: 69px;
    height: 53px;
    background-position: -63px -150px;
}

.sprite-disney {
    width: 74px;
    height: 70px;
    background-position: -142px -150px;
}

.sprite-espn {
    width: 143px;
    height: 36px;
    background-position: -226px -156px;
}

.sprite-fm105 {
    width: 112px;
    height: 41px;
    background-position: -226px -202px;
}

.sprite-fmpasion {
    width: 90px;
    height: 60px;
    background-position: -397px -150px;
}

.sprite-ilusiones {
    width: 101px;
    height: 55px;
    background-position: -5px -220px;
}

.sprite-la100 {
    width: 69px;
    height: 71px;
    background-position: -348px -220px;
}

.sprite-la8 {
    width: 100px;
    height: 40px;
    background-position: -5px -301px;
}

.sprite-la99 {
    width: 68px;
    height: 51px;
    background-position: -115px -301px;
}

.sprite-lared {
    width: 60px;
    height: 59px;
    background-position: -427px -220px;
}

.sprite-laredonda {
    width: 95px;
    height: 66px;
    background-position: -193px -289px;
}

.sprite-latina {
    width: 101px;
    height: 39px;
    background-position: -298px -301px;
}

.sprite-los40 {
    width: 80px;
    height: 46px;
    background-position: -298px -350px;
}

.sprite-lu24 {
    width: 57px;
    height: 56px;
    background-position: -427px -289px;
}

.sprite-mega {
    width: 108px;
    height: 35px;
    background-position: -5px -406px;
}

.sprite-metro {
    width: 72px;
    height: 63px;
    background-position: -388px -355px;
}

.sprite-milenium {
    width: 65px;
    height: 64px;
    background-position: -475px -5px;
}

.sprite-mitre {
    width: 89px;
    height: 57px;
    background-position: -470px -355px;
}

.sprite-nacionalrock {
    width: 90px;
    height: 45px;
    background-position: -468px -90px;
}

.sprite-one {
    width: 63px;
    height: 63px;
    background-position: -497px -145px;
}

.sprite-pop {
    width: 86px;
    height: 51px;
    background-position: -123px -422px;
}

.sprite-radio10 {
    width: 90px;
    height: 47px;
    background-position: -219px -422px;
}

.sprite-radio9 {
    width: 64px;
    height: 62px;
    background-position: -497px -218px;
}

.sprite-radionacional {
    width: 117px;
    height: 45px;
    background-position: -319px -428px;
}

.sprite-radiox {
    width: 59px;
    height: 62px;
    background-position: -470px -422px;
}

.sprite-red92 {
    width: 84px;
    height: 68px;
    background-position: -550px -5px;
}

.sprite-rivadavia {
    width: 101px;
    height: 55px;
    background-position: -494px -290px;
}

.sprite-rocknpop {
    width: 89px;
    height: 66px;
    background-position: -539px -422px;
}

.sprite-rqp {
    width: 78px;
    height: 33px;
    background-position: -568px -83px;
}

.sprite-vale {
    width: 62px;
    height: 61px;
    background-position: -570px -126px;
}

.sprite-vida {
    width: 105px;
    height: 34px;
    background-position: -5px -498px;
}

.sprite-vorterix {
    width: 60px;
    height: 58px;
    background-position: -571px -197px;
}
