.spriteglobal,
.spriteradio,
.spritetv {
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s
}
.spriteglobal:hover,
.spriteradio:hover,
.spritetv:hover {
    opacity: .7
}

.spritetv {
    background-image: url(/view/imgs/v1.2-spritestv.png);
    transition: .3s
}

.spriteradio {
    background-image: url(/view/imgs/v1.1-spritesradio.png);
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s
}


.sprite-360tv {
    width: 92px;
    height: 34px;
    background-position: -5px -5px;
}

.sprite-a24 {
    width: 63px;
    height: 63px;
    background-position: -107px -5px;
}

.sprite-acuafederal {
    width: 57px;
    height: 60px;
    background-position: -180px -5px;
}

.sprite-acuamayor {
    width: 108px;
    height: 47px;
    background-position: -247px -5px;
}

.sprite-ae {
    width: 79px;
    height: 42px;
    background-position: -365px -5px;
}

.sprite-amc {
    width: 75px;
    height: 34px;
    background-position: -454px -5px;
}

.sprite-america {
    width: 59px;
    height: 54px;
    background-position: -539px -5px;
}

.sprite-americasports {
    width: 68px;
    height: 61px;
    background-position: -608px -5px;
}

.sprite-animalplanet {
    width: 77px;
    height: 39px;
    background-position: -5px -69px;
}

.sprite-argentinisima {
    width: 58px;
    height: 58px;
    background-position: -180px -76px;
}

.sprite-axn {
    width: 110px;
    height: 35px;
    background-position: -248px -76px;
}

.sprite-c5n {
    width: 81px;
    height: 45px;
    background-position: -368px -76px;
}

.sprite-canal26 {
    width: 55px;
    height: 55px;
    background-position: -459px -76px;
}

.sprite-canal9 {
    width: 55px;
    height: 54px;
    background-position: -524px -76px;
}

.sprite-cartoon {
    width: 69px;
    height: 45px;
    background-position: -589px -76px;
}

.sprite-casaclub {
    width: 56px;
    height: 58px;
    background-position: -5px -131px;
}

.sprite-cinecanal {
    width: 62px;
    height: 65px;
    background-position: -71px -131px;
}

.sprite-cinemax {
    width: 105px;
    height: 40px;
    background-position: -248px -131px;
}

.sprite-cm {
    width: 69px;
    height: 59px;
    background-position: -363px -131px;
}

.sprite-cn23 {
    width: 85px;
    height: 35px;
    background-position: -589px -131px;
}

.sprite-comedycentral {
    width: 143px;
    height: 39px;
    background-position: -442px -176px;
}

.sprite-construirtv {
    width: 65px;
    height: 55px;
    background-position: -143px -176px;
}

.sprite-cronicatv {
    width: 115px;
    height: 32px;
    background-position: -5px -225px;
}

.sprite-directvsports {
    width: 62px;
    height: 65px;
    background-position: -595px -176px;
}

.sprite-discovery {
    width: 143px;
    height: 28px;
    background-position: -218px -225px;
}

.sprite-discoverykids {
    width: 65px;
    height: 67px;
    background-position: -130px -251px;
}

.sprite-disneychannel {
    width: 96px;
    height: 47px;
    background-position: -371px -225px;
}

.sprite-disneyjunior {
    width: 114px;
    height: 40px;
    background-position: -477px -251px;
}

.sprite-disneyxd {
    width: 80px;
    height: 55px;
    background-position: -5px -301px;
}

.sprite-dxtv {
    width: 88px;
    height: 40px;
    background-position: -205px -301px;
}

.sprite-e_ {
    width: 29px;
    height: 65px;
    background-position: -601px -251px;
}

.sprite-eltrece {
    width: 60px;
    height: 60px;
    background-position: -303px -326px;
}

.sprite-encuentro {
    width: 65px;
    height: 65px;
    background-position: -373px -326px;
}

.sprite-espn2 {
    width: 111px;
    height: 39px;
    background-position: -448px -301px;
}

.sprite-espnplus {
    width: 111px;
    height: 39px;
    background-position: -448px -350px;
}

.sprite-espntv {
    width: 86px;
    height: 39px;
    background-position: -569px -326px;
}

.sprite-filmzone {
    width: 56px;
    height: 58px;
    background-position: -5px -375px;
}

.sprite-fox {
    width: 81px;
    height: 43px;
    background-position: -71px -375px;
}

.sprite-foxlife {
    width: 114px;
    height: 48px;
    background-position: -162px -375px;
}

.sprite-foxsports {
    width: 92px;
    height: 54px;
    background-position: -569px -375px;
}

.sprite-foxsports2 {
    width: 116px;
    height: 54px;
    background-position: -71px -439px;
}

.sprite-ftv {
    width: 71px;
    height: 55px;
    background-position: -197px -439px;
}

.sprite-fx {
    width: 58px;
    height: 42px;
    background-position: -278px -439px;
}

.sprite-garage {
    width: 81px;
    height: 70px;
    background-position: -346px -439px;
}

.sprite-glitz {
    width: 82px;
    height: 43px;
    background-position: -437px -439px;
}

.sprite-golden {
    width: 89px;
    height: 41px;
    background-position: -529px -439px;
}

.sprite-gourmet {
    width: 51px;
    height: 47px;
    background-position: -5px -490px;
}

.sprite-hbo {
    width: 76px;
    height: 40px;
    background-position: -529px -490px;
}

.sprite-hbo2 {
    width: 97px;
    height: 41px;
    background-position: -66px -540px;
}

.sprite-hboplus {
    width: 75px;
    height: 53px;
    background-position: -173px -540px;
}

.sprite-history {
    width: 66px;
    height: 53px;
    background-position: -258px -540px;
}

.sprite-hyh {
    width: 78px;
    height: 38px;
    background-position: -334px -540px;
}

.sprite-id {
    width: 54px;
    height: 59px;
    background-position: -615px -490px;
}

.sprite-infinito {
    width: 51px;
    height: 52px;
    background-position: -5px -559px;
}

.sprite-isat {
    width: 95px;
    height: 40px;
    background-position: -422px -559px;
}

.sprite-magazine {
    width: 53px;
    height: 55px;
    background-position: -527px -559px;
}

.sprite-mtv {
    width: 69px;
    height: 49px;
    background-position: -590px -559px;
}

.sprite-natgeo {
    width: 123px;
    height: 45px;
    background-position: -5px -624px;
}

.sprite-nick {
    width: 80px;
    height: 41px;
    background-position: -138px -618px;
}

.sprite-onetv {
    width: 63px;
    height: 62px;
    background-position: -686px -5px;
}

.sprite-pakapaka {
    width: 90px;
    height: 57px;
    background-position: -640px -251px;
}

.sprite-qm {
    width: 55px;
    height: 55px;
    background-position: -684px -77px;
}

.sprite-quiero {
    width: 60px;
    height: 49px;
    background-position: -684px -142px;
}

.sprite-rocknpoptv {
    width: 75px;
    height: 58px;
    background-position: -671px -318px;
}

.sprite-rt {
    width: 67px;
    height: 58px;
    background-position: -671px -386px;
}

.sprite-rural {
    width: 70px;
    height: 41px;
    background-position: -679px -454px;
}

.sprite-sony {
    width: 56px;
    height: 46px;
    background-position: -679px -505px;
}

.sprite-space {
    width: 122px;
    height: 39px;
    background-position: -228px -618px;
}

.sprite-studiouniversal {
    width: 107px;
    height: 54px;
    background-position: -360px -618px;
}

.sprite-syfy {
    width: 71px;
    height: 42px;
    background-position: -669px -561px;
}

.sprite-tango {
    width: 90px;
    height: 62px;
    background-position: -590px -618px;
}

.sprite-tateti {
    width: 148px;
    height: 38px;
    background-position: -5px -690px;
}

.sprite-tbs {
    width: 66px;
    height: 59px;
    background-position: -163px -690px;
}

.sprite-tcm {
    width: 55px;
    height: 55px;
    background-position: -690px -613px;
}

.sprite-tec {
    width: 98px;
    height: 33px;
    background-position: -239px -678px;
}

.sprite-telefe {
    width: 118px;
    height: 45px;
    background-position: -347px -690px;
}

.sprite-telesur {
    width: 60px;
    height: 68px;
    background-position: -477px -678px;
}

.sprite-tlc {
    width: 73px;
    height: 40px;
    background-position: -667px -201px;
}

.sprite-tlnovelas {
    width: 106px;
    height: 59px;
    background-position: -547px -690px;
}

.sprite-tn {
    width: 78px;
    height: 34px;
    background-position: -663px -690px;
}

.sprite-tnt {
    width: 59px;
    height: 61px;
    background-position: -759px -5px;
}

.sprite-trutv {
    width: 85px;
    height: 38px;
    background-position: -239px -734px;
}

.sprite-tvp {
    width: 58px;
    height: 61px;
    background-position: -759px -76px;
}

.sprite-tvuniversidad {
    width: 55px;
    height: 53px;
    background-position: -754px -147px;
}

.sprite-tycsports {
    width: 120px;
    height: 35px;
    background-position: -663px -734px;
}

.sprite-universal {
    width: 85px;
    height: 61px;
    background-position: -828px -5px;
}

.sprite-vh1 {
    width: 87px;
    height: 52px;
    background-position: -827px -76px;
}

.sprite-viajar {
    width: 93px;
    height: 50px;
    background-position: -819px -147px;
}

.sprite-warner {
    width: 52px;
    height: 50px;
    background-position: -819px -207px;
}


/*=========RADIOS=========*/

.sprite-am750 {
    width: 81px;
    height: 51px;
    background-position: -5px -5px;
}

.sprite-america1190 {
    width: 100px;
    height: 39px;
    background-position: -96px -5px;
}

.sprite-aspen {
    width: 57px;
    height: 67px;
    background-position: -206px -5px;
}

.sprite-blue {
    width: 57px;
    height: 56px;
    background-position: -273px -5px;
}

.sprite-brava {
    width: 116px;
    height: 45px;
    background-position: -340px -5px;
}

.sprite-cadena3 {
    width: 125px;
    height: 20px;
    background-position: -340px -60px;
}

.sprite-cielo {
    width: 84px;
    height: 44px;
    background-position: -96px -60px;
}

.sprite-continental {
    width: 48px;
    height: 58px;
    background-position: -5px -90px;
}

.sprite-coolradio {
    width: 133px;
    height: 28px;
    background-position: -190px -90px;
}

.sprite-cooperativa {
    width: 54px;
    height: 56px;
    background-position: -333px -90px;
}

.sprite-delplata {
    width: 61px;
    height: 50px;
    background-position: -397px -90px;
}

.sprite-delsol {
    width: 69px;
    height: 53px;
    background-position: -63px -150px;
}

.sprite-disney {
    width: 74px;
    height: 70px;
    background-position: -142px -150px;
}

.sprite-espn {
    width: 143px;
    height: 36px;
    background-position: -226px -156px;
}

.sprite-fm105 {
    width: 112px;
    height: 41px;
    background-position: -226px -202px;
}

.sprite-fmpasion {
    width: 90px;
    height: 60px;
    background-position: -397px -150px;
}

.sprite-ilusiones {
    width: 101px;
    height: 55px;
    background-position: -5px -220px;
}

.sprite-la100 {
    width: 69px;
    height: 71px;
    background-position: -348px -220px;
}

.sprite-la8 {
    width: 100px;
    height: 40px;
    background-position: -5px -301px;
}

.sprite-la99 {
    width: 68px;
    height: 51px;
    background-position: -115px -301px;
}

.sprite-lared {
    width: 60px;
    height: 59px;
    background-position: -427px -220px;
}

.sprite-laredonda {
    width: 95px;
    height: 66px;
    background-position: -193px -289px;
}

.sprite-latina {
    width: 101px;
    height: 39px;
    background-position: -298px -301px;
}

.sprite-los40 {
    width: 80px;
    height: 46px;
    background-position: -298px -350px;
}

.sprite-lu24 {
    width: 57px;
    height: 56px;
    background-position: -427px -289px;
}

.sprite-mega {
    width: 108px;
    height: 35px;
    background-position: -5px -406px;
}

.sprite-metro {
    width: 72px;
    height: 63px;
    background-position: -388px -355px;
}

.sprite-milenium {
    width: 65px;
    height: 64px;
    background-position: -475px -5px;
}

.sprite-mitre {
    width: 89px;
    height: 57px;
    background-position: -470px -355px;
}

.sprite-nacionalrock {
    width: 90px;
    height: 45px;
    background-position: -468px -90px;
}

.sprite-one {
    width: 63px;
    height: 63px;
    background-position: -497px -145px;
}

.sprite-pop {
    width: 86px;
    height: 51px;
    background-position: -123px -422px;
}

.sprite-radio10 {
    width: 90px;
    height: 47px;
    background-position: -219px -422px;
}

.sprite-radio9 {
    width: 64px;
    height: 62px;
    background-position: -497px -218px;
}

.sprite-radionacional {
    width: 117px;
    height: 45px;
    background-position: -319px -428px;
}

.sprite-radiox {
    width: 59px;
    height: 62px;
    background-position: -470px -422px;
}

.sprite-red92 {
    width: 84px;
    height: 68px;
    background-position: -550px -5px;
}

.sprite-rivadavia {
    width: 101px;
    height: 55px;
    background-position: -494px -290px;
}

.sprite-rocknpop {
    width: 89px;
    height: 66px;
    background-position: -539px -422px;
}

.sprite-rqp {
    width: 78px;
    height: 33px;
    background-position: -568px -83px;
}

.sprite-vale {
    width: 62px;
    height: 61px;
    background-position: -570px -126px;
}

.sprite-vida {
    width: 105px;
    height: 34px;
    background-position: -5px -498px;
}

.sprite-vorterix {
    width: 60px;
    height: 58px;
    background-position: -571px -197px;
}
