.spriteradio,
.spritetv {
    background-repeat: no-repeat;
    display: inline-block;
    margin:2px;
    vertical-align: middle;
    o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s
}
.spriteglobal:hover,
.spriteradio:hover,
.spritetv:hover {
    opacity: .7
}

.spritetv {
    background-image: url(/view/imgs/v1.0.2-spritestv.png);
    transition: .3s
}

.spriteradio {
    background-image: url(/view/imgs/v1.1-spritesradio.png);
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s
}


.sprite-360tv {
    width: 92px;
    height: 34px;
    background-position: -5px -5px;
}

.sprite-a24 {
    width: 63px;
    height: 63px;
    background-position: -107px -5px;
}

.sprite-acuafederal {
    width: 57px;
    height: 60px;
    background-position: -180px -5px;
}

.sprite-acuamayor {
    width: 108px;
    height: 47px;
    background-position: -247px -5px;
}

.sprite-ae {
    width: 79px;
    height: 42px;
    background-position: -365px -5px;
}

.sprite-amc {
    width: 75px;
    height: 34px;
    background-position: -454px -5px;
}

.sprite-america {
    width: 59px;
    height: 54px;
    background-position: -539px -5px;
}

.sprite-americasports {
    width: 68px;
    height: 61px;
    background-position: -608px -5px;
}

.sprite-animalplanet {
    width: 77px;
    height: 39px;
    background-position: -5px -69px;
}

.sprite-argentinisima {
    width: 58px;
    height: 58px;
    background-position: -180px -76px;
}

.sprite-axn {
    width: 110px;
    height: 35px;
    background-position: -248px -76px;
}

.sprite-c5n {
    width: 81px;
    height: 45px;
    background-position: -368px -76px;
}

.sprite-canal26 {
    width: 55px;
    height: 55px;
    background-position: -459px -76px;
}

.sprite-canal9 {
    width: 55px;
    height: 54px;
    background-position: -524px -76px;
}

.sprite-cartoon {
    width: 69px;
    height: 45px;
    background-position: -589px -76px;
}

.sprite-casaclub {
    width: 56px;
    height: 58px;
    background-position: -5px -131px;
}

.sprite-cinecanal {
    width: 100px;
    height: 26px;
    background-position: -248px -131px;
}

.sprite-cinemax {
    width: 105px;
    height: 40px;
    background-position: -524px -140px;
}

.sprite-ciudad {
    width: 55px;
    height: 55px;
    background-position: -71px -190px;
}

.sprite-cm {
    width: 69px;
    height: 59px;
    background-position: -136px -190px;
}

.sprite-cn23 {
    width: 81px;
    height: 30px;
    background-position: -71px -131px;
}

.sprite-comedycentral {
    width: 143px;
    height: 39px;
    background-position: -215px -190px;
}

.sprite-construirtv {
    width: 65px;
    height: 55px;
    background-position: -368px -190px;
}

.sprite-cronicatv {
    width: 115px;
    height: 32px;
    background-position: -443px -190px;
}

.sprite-directvsports {
    width: 84px;
    height: 45px;
    background-position: -358px -131px;
}

.sprite-discovery {
    width: 143px;
    height: 28px;
    background-position: -443px -232px;
}

.sprite-discoverykids {
    width: 65px;
    height: 67px;
    background-position: -596px -190px;
}

.sprite-disneychannel {
    width: 96px;
    height: 47px;
    background-position: -5px -267px;
}

.sprite-disneyjunior {
    width: 114px;
    height: 40px;
    background-position: -111px -270px;
}

.sprite-disneyxd {
    width: 80px;
    height: 55px;
    background-position: -235px -267px;
}

.sprite-dxtv {
    width: 100px;
    height: 38px;
    background-position: -325px -270px;
}

.sprite-e_ {
    width: 29px;
    height: 65px;
    background-position: -596px -267px;
}

.sprite-eltrece {
    width: 60px;
    height: 60px;
    background-position: -5px -342px;
}

.sprite-encuentro {
    width: 65px;
    height: 65px;
    background-position: -75px -342px;
}

.sprite-espn2 {
    width: 106px;
    height: 29px;
    background-position: -435px -270px;
}

.sprite-espnplus {
    width: 111px;
    height: 39px;
    background-position: -150px -342px;
}

.sprite-espntv {
    width: 79px;
    height: 29px;
    background-position: -271px -342px;
}

.sprite-filmzone {
    width: 56px;
    height: 58px;
    background-position: -360px -342px;
}

.sprite-fox {
    width: 81px;
    height: 43px;
    background-position: -426px -342px;
}

.sprite-foxlife {
    width: 114px;
    height: 48px;
    background-position: -517px -342px;
}

.sprite-foxsports {
    width: 92px;
    height: 54px;
    background-position: -150px -400px;
}

.sprite-foxsports2 {
    width: 116px;
    height: 54px;
    background-position: -426px -400px;
}

.sprite-ftv {
    width: 71px;
    height: 55px;
    background-position: -252px -400px;
}

.sprite-fx {
    width: 58px;
    height: 42px;
    background-position: -552px -400px;
}

.sprite-garage {
    width: 67px;
    height: 60px;
    background-position: -5px -452px;
}

.sprite-glitz {
    width: 82px;
    height: 43px;
    background-position: -333px -452px;
}

.sprite-golden {
    width: 89px;
    height: 41px;
    background-position: -552px -452px;
}

.sprite-gourmet {
    width: 51px;
    height: 47px;
    background-position: -82px -503px;
}

.sprite-hbo {
    width: 76px;
    height: 40px;
    background-position: -143px -503px;
}

.sprite-hbo2 {
    width: 97px;
    height: 41px;
    background-position: -425px -503px;
}

.sprite-hboplus {
    width: 75px;
    height: 53px;
    background-position: -229px -503px;
}

.sprite-history {
    width: 66px;
    height: 53px;
    background-position: -532px -503px;
}

.sprite-hyh {
    width: 78px;
    height: 38px;
    background-position: -5px -566px;
}

.sprite-id {
    width: 54px;
    height: 59px;
    background-position: -608px -503px;
}

.sprite-infinito {
    width: 51px;
    height: 52px;
    background-position: -93px -572px;
}

.sprite-isat {
    width: 95px;
    height: 40px;
    background-position: -154px -572px;
}

.sprite-magazine {
    width: 53px;
    height: 55px;
    background-position: -259px -572px;
}

.sprite-mtv {
    width: 69px;
    height: 49px;
    background-position: -322px -572px;
}

.sprite-natgeo {
    width: 123px;
    height: 45px;
    background-position: -401px -572px;
}

.sprite-nick {
    width: 80px;
    height: 41px;
    background-position: -534px -572px;
}

.sprite-onetv {
    width: 63px;
    height: 62px;
    background-position: -686px -5px;
}

.sprite-pakapaka {
    width: 98px;
    height: 45px;
    background-position: -639px -131px;
}

.sprite-qm {
    width: 55px;
    height: 55px;
    background-position: -671px -186px;
}

.sprite-quiero {
    width: 60px;
    height: 49px;
    background-position: -671px -251px;
}

.sprite-rocknpoptv {
    width: 75px;
    height: 58px;
    background-position: -641px -310px;
}

.sprite-rt {
    width: 67px;
    height: 58px;
    background-position: -641px -378px;
}

.sprite-rural {
    width: 70px;
    height: 41px;
    background-position: -668px -77px;
}

.sprite-sony {
    width: 56px;
    height: 46px;
    background-position: -82px -446px;
}

.sprite-space {
    width: 122px;
    height: 39px;
    background-position: -624px -572px;
}

.sprite-studiouniversal {
    width: 107px;
    height: 54px;
    background-position: -624px -621px;
}

.sprite-syfy {
    width: 71px;
    height: 42px;
    background-position: -651px -446px;
}

.sprite-tango {
    width: 90px;
    height: 62px;
    background-position: -5px -685px;
}

.sprite-tateti {
    width: 148px;
    height: 38px;
    background-position: -105px -685px;
}

.sprite-tbs {
    width: 66px;
    height: 59px;
    background-position: -672px -498px;
}

.sprite-tcm {
    width: 55px;
    height: 55px;
    background-position: -263px -685px;
}

.sprite-tec {
    width: 98px;
    height: 33px;
    background-position: -328px -685px;
}

.sprite-telefe {
    width: 118px;
    height: 45px;
    background-position: -436px -685px;
}

.sprite-telemax {
    width: 82px;
    height: 45px;
    background-position: -564px -685px;
}

.sprite-telesur {
    width: 60px;
    height: 68px;
    background-position: -759px -5px;
}

.sprite-tlc {
    width: 73px;
    height: 40px;
    background-position: -748px -83px;
}

.sprite-tlnovelas {
    width: 106px;
    height: 59px;
    background-position: -656px -685px;
}

.sprite-tn {
    width: 78px;
    height: 34px;
    background-position: -736px -186px;
}

.sprite-tnt {
    width: 59px;
    height: 61px;
    background-position: -741px -230px;
}

.sprite-trutv {
    width: 85px;
    height: 38px;
    background-position: -726px -310px;
}

.sprite-tvp {
    width: 58px;
    height: 61px;
    background-position: -726px -358px;
}

.sprite-tvuniversidad {
    width: 55px;
    height: 55px;
    background-position: -732px -429px;
}

.sprite-tycsports {
    width: 120px;
    height: 35px;
    background-position: -105px -754px;
}

.sprite-universal {
    width: 85px;
    height: 61px;
    background-position: -235px -754px;
}

.sprite-vh1 {
    width: 87px;
    height: 52px;
    background-position: -330px -754px;
}

.sprite-viajar {
    width: 93px;
    height: 50px;
    background-position: -427px -754px;
}

.sprite-warner {
    width: 52px;
    height: 50px;
    background-position: -748px -494px;
}


/*=========RADIOS=========*/

.sprite-am750 {
    width: 81px;
    height: 51px;
    background-position: -5px -5px;
}

.sprite-america1190 {
    width: 100px;
    height: 39px;
    background-position: -96px -5px;
}

.sprite-aspen {
    width: 57px;
    height: 67px;
    background-position: -206px -5px;
}

.sprite-blue {
    width: 57px;
    height: 56px;
    background-position: -273px -5px;
}

.sprite-brava {
    width: 116px;
    height: 45px;
    background-position: -340px -5px;
}

.sprite-cadena3 {
    width: 125px;
    height: 20px;
    background-position: -340px -60px;
}

.sprite-cielo {
    width: 84px;
    height: 44px;
    background-position: -96px -60px;
}

.sprite-continental {
    width: 48px;
    height: 58px;
    background-position: -5px -90px;
}

.sprite-coolradio {
    width: 133px;
    height: 28px;
    background-position: -190px -90px;
}

.sprite-cooperativa {
    width: 54px;
    height: 56px;
    background-position: -333px -90px;
}

.sprite-delplata {
    width: 61px;
    height: 50px;
    background-position: -397px -90px;
}

.sprite-delsol {
    width: 69px;
    height: 53px;
    background-position: -63px -150px;
}

.sprite-disney {
    width: 74px;
    height: 70px;
    background-position: -142px -150px;
}

.sprite-espn {
    width: 143px;
    height: 36px;
    background-position: -226px -156px;
}

.sprite-fm105 {
    width: 112px;
    height: 41px;
    background-position: -226px -202px;
}

.sprite-fmpasion {
    width: 90px;
    height: 60px;
    background-position: -397px -150px;
}

.sprite-ilusiones {
    width: 101px;
    height: 55px;
    background-position: -5px -220px;
}

.sprite-la100 {
    width: 69px;
    height: 71px;
    background-position: -348px -220px;
}

.sprite-la8 {
    width: 100px;
    height: 40px;
    background-position: -5px -301px;
}

.sprite-la99 {
    width: 68px;
    height: 51px;
    background-position: -115px -301px;
}

.sprite-lared {
    width: 60px;
    height: 59px;
    background-position: -427px -220px;
}

.sprite-laredonda {
    width: 95px;
    height: 66px;
    background-position: -193px -289px;
}

.sprite-latina {
    width: 101px;
    height: 39px;
    background-position: -298px -301px;
}

.sprite-los40 {
    width: 80px;
    height: 46px;
    background-position: -298px -350px;
}

.sprite-lu24 {
    width: 57px;
    height: 56px;
    background-position: -427px -289px;
}

.sprite-mega {
    width: 108px;
    height: 35px;
    background-position: -5px -406px;
}

.sprite-metro {
    width: 72px;
    height: 63px;
    background-position: -388px -355px;
}

.sprite-milenium {
    width: 65px;
    height: 64px;
    background-position: -475px -5px;
}

.sprite-mitre {
    width: 89px;
    height: 57px;
    background-position: -470px -355px;
}

.sprite-nacionalrock {
    width: 90px;
    height: 45px;
    background-position: -468px -90px;
}

.sprite-one {
    width: 63px;
    height: 63px;
    background-position: -497px -145px;
}

.sprite-pop {
    width: 86px;
    height: 51px;
    background-position: -123px -422px;
}

.sprite-radio10 {
    width: 90px;
    height: 47px;
    background-position: -219px -422px;
}

.sprite-radio9 {
    width: 64px;
    height: 62px;
    background-position: -497px -218px;
}

.sprite-radionacional {
    width: 117px;
    height: 45px;
    background-position: -319px -428px;
}

.sprite-radiox {
    width: 59px;
    height: 62px;
    background-position: -470px -422px;
}

.sprite-red92 {
    width: 84px;
    height: 68px;
    background-position: -550px -5px;
}

.sprite-rivadavia {
    width: 101px;
    height: 55px;
    background-position: -494px -290px;
}

.sprite-rocknpop {
    width: 89px;
    height: 66px;
    background-position: -539px -422px;
}

.sprite-rqp {
    width: 78px;
    height: 33px;
    background-position: -568px -83px;
}

.sprite-vale {
    width: 62px;
    height: 61px;
    background-position: -570px -126px;
}

.sprite-vida {
    width: 105px;
    height: 34px;
    background-position: -5px -498px;
}

.sprite-vorterix {
    width: 60px;
    height: 58px;
    background-position: -571px -197px;
}
