body {
text-align:center;
background-color:#DADADA;
color:rgba(0,0,0,1);
font-family: 'roboto';
margin:0 auto
}

.spriteradios,
.spritetv {
background-repeat: no-repeat;
display: inline-block;
margin-bottom: 10px;
margin-left: 5px;
vertical-align: middle;
transition: .3s
o-transition: .3s;
-ms-transition: .3s;
-moz-transition: .3s;
-webkit-transition: .3s
}

.spriteradios:hover,
.spritetv:hover {
    opacity: .7
}

.header {
background-color:#181818;
position:fixed;
left:0;
opacity:0.9;
right:0;
top:0;
z-index:999;
transition:left .2s ease-in;
box-shadow:0 1px 4px #333;
webkit-transition:left .2s ease-in
}

.center a :hover {
color:white
}

.center {
overflow:hidden;
margin-left:auto;
margin-right:auto;
max-width:1024px;
text-align:center;
padding:0
}

.menu-icon {
vertical-align: middle;
cursor:pointer;
color: #757575;
padding: 10px;
o-transition:.3s;
-ms-transition:.3s;
-moz-transition:.3s;
-webkit-transition:.3s;
transition:.3s
}

nav {
line-height:45px;
min-width:920px
}

nav a {
text-decoration:none;
font-size:0.9em;
color:#757575;
o-transition:.3s;
-ms-transition:.3s;
-moz-transition:.3s;
-webkit-transition:.3s;
transition:.3s
}

.nav-page{
display: inline-block;
vertical-align: middle;
margin-left: -2px;
margin-right: -2px;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
position: relative;
overflow: hidden
}

.nav-page :before{
content: "";
position: absolute;
z-index: -1;
left: 50%;
right: 50%;
bottom: 0;
background: #009688;
height: 2px;
-webkit-transition-property: left, right;
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 0.2s;
transition-duration: 0.2s;
transition-property: left, right;
transition-timing-function: ease-out
}

.nav-page :hover:before, 
.nav-page :focus:before, 
.nav-page :active:before{
left: 0;
right: 0;
}

.active :before{ 
content: "";
position: absolute;
z-index: -1;
left: 50%;
right: 50%;
bottom: 0;
left: 0;
right: 0;
background: #009688;
height: 2px;
color:white
}

.nav-schedule,
.nav-lights {
margin-left: -2px;
margin-right: -2px;
}

.active, .menu-icon-open { 
color:white
}

a:visited {
text-decoration:none;
}

.tab {
vertical-align:middle;
padding-left:20px;
padding-right:20px;
font-weight: 400
}

.material-icons.md-light{
font-size: 20px;
display: inline
}

.title-vipe {
font-size: 13.5px;
color:#009688;
align-self: center
}

.card {
background-color:#FFF;
border-radius: 2px;
line-height:25px;
text-align:center;
vertical-align:top;
padding-bottom:10px;
padding-top:10px;
width:480px;
margin-left: auto;
margin-right: auto;
margin-top:30px;
margin-bottom:30px;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px;
}

.player-container-tv, .player-container-radios {
display:inline-block;
margin-bottom:15px;
opacity:0;
transition:opacity .5s linear;
line-height:0;
vertical-align:top;
width:auto;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px
}

.player-container-tv {
-webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);
filter: blur(5px);
}

.player-protected {
position:relative;
display:none;
background-color:#000;
line-height:0;
z-index:980
}

.player-protected iframe {
overflow:hidden
}

.shield {
cursor:pointer;
position:relative;
z-index:980
}

.player {
position:relative;
overflow:hidden;
background-color:#000;
line-height:0;
z-index:980
}

.slide-in {
webkit-transition:left .2s ease-in;
background-color:#fff;
width:215px;
box-shadow: 0 4px 4px #333;
font-size:0.875em;
height:100%;
left:-220px;
moz-transition:all .2s ease-in;
ms-transition:all .2s ease-in;
o-transition:all .2s ease-in;
overflow:hidden;
position:fixed;
top:46px;
transition:all .2s ease-in;
z-index:1000
}

img {
border:0
}

.space {
margin-top:75px;
visibility:hidden
}

audio {
width:500px
}

.shadow {
background-color:#000;
display:none;
height:100%;
left:0;
position:fixed;
top:0;
width:100%;
z-index:997
}

br {
line-height:0;
content:" ";
display:block
}

iframe {
border-width:0
}

.menu-item {
border-left-style:solid;
border-left-width:3px;
color:#fff;
line-height:35px;
border-left-color:#fff
}

.menu-item:hover {
border-left-style:solid;
border-left-width:3px;
border-left-color:#009688
}

.mclick {
background-color:#fff;
width:215px;
box-shadow: 0 4px 4px #333;
height:100%;
left:0!important;
overflow:hidden;
top:46px;
z-index:1000;
font-size:0.875em;
position:fixed
}

.mclick a {
display:block;
text-decoration:none;
color:#333
}

.slide-in a {
display:block;
text-decoration:none;
color:#333
}

.mclick ul {
list-style:none;
margin:0;
padding:0
}

.slide-in ul {
list-style:none;
margin:0;
padding:0
}

.mclick a:visited {
color:#333
}

.slide-in a:visited {
color:#333
}

.slide-in.on {
box-shadow: 0 4px 4px #333;
height:100%;
left:0!important;
overflow:hidden;
top:46px;
z-index:1000;
font-size:0.875em;
position:fixed
}

.menu-search {
padding-left:15px;
font-weight:400;
border-bottom-color:#D4D4D4;
border-bottom-width: 2px;
color:#777;
height:30px;
font-size:0.875em;
width:100%;
border-width:0 0 1px;
box-shadow: rgba(0,0,0,0.2) 0px 1px 2px;
}

.menu-link {
padding-left:15px;
font-weight:400
}

.items {
overflow-y:scroll;
text-align:left;
width:240px;

}

.menu-search:focus {
outline:0
}

.menu-item a {
font-weight:400;
color:#333
}

.menu-item a:visited {
font-weight:400;
color:#333
}

.menu-item:hover a {
background-color:rgba(0,0,0,.0513726)
}

.menu-separator {
color:#A7A4A4;
background-color:#D4D4D4;
padding-bottom:0;
padding-top:1px;
padding-left:75px
}

.trackedUrls{
display: none;
}

@media screen and (max-width: 919px){
	.center {
	text-align:left
	}

	.menu-icon{
	margin-left: 15px;
	margin-right: 0px;
	margin-top: -2px;
	}

	.modal-content {
	width:100%
	}

	.player-container {
	width:100%;
	max-height:400px
	}

	.player-protected {
	width:100%;
	max-height:400px
	}

	.player{
	width:100%;
	max-height:400px
	}

	iframe {
	width:100%;
	max-height:400px
	}

	.card {
	width:100%;
	padding: 0px
	}

	img {
	max-width:100%
	}

	audio {
	width:100%
	}

	.float-layer,
	.nav-schedule,
	.nav-lights {
	display:none
	}
}
