
.sprite-a24 {
    width: 90px;
    height: 32px;
    background-position: -5px -5px;
}

.sprite-amc {
    width: 75px;
    height: 34px;
    background-position: -105px -5px;
}

.sprite-america {
    width: 59px;
    height: 54px;
    background-position: -190px -5px;
}

.sprite-animalplanet {
    width: 77px;
    height: 39px;
    background-position: -259px -5px;
}

.sprite-argentinisima {
    width: 58px;
    height: 58px;
    background-position: -346px -5px;
}

.sprite-axn {
    width: 96px;
    height: 40px;
    background-position: -414px -5px;
}

.sprite-c5n {
    width: 60px;
    height: 62px;
    background-position: -520px -5px;
}

.sprite-canal26 {
    width: 55px;
    height: 55px;
    background-position: -5px -77px;
}

.sprite-canal9 {
    width: 59px;
    height: 56px;
    background-position: -70px -77px;
}

.sprite-cartoon {
    width: 69px;
    height: 45px;
    background-position: -139px -77px;
}

.sprite-cinecanal {
    width: 100px;
    height: 26px;
    background-position: -218px -77px;
}

.sprite-cinemax {
    width: 105px;
    height: 40px;
    background-position: -328px -77px;
}

.sprite-ciudad {
    width: 55px;
    height: 55px;
    background-position: -443px -77px;
}

.sprite-cn23 {
    width: 81px;
    height: 30px;
    background-position: -508px -77px;
}

.sprite-cnn {
    width: 71px;
    height: 50px;
    background-position: -218px -117px;
}

.sprite-comedycentral {
    width: 143px;
    height: 39px;
    background-position: -299px -142px;
}

.sprite-construirtv {
    width: 65px;
    height: 55px;
    background-position: -508px -117px;
}

.sprite-cronica {
    width: 100px;
    height: 22px;
    background-position: -5px -182px;
}

.sprite-directvsports {
    width: 60px;
    height: 58px;
    background-position: -115px -182px;
}

.sprite-discovery {
    width: 116px;
    height: 23px;
    background-position: -452px -182px;
}

.sprite-discoverykids {
    width: 65px;
    height: 67px;
    background-position: -5px -215px;
}

.sprite-disneychannel {
    width: 96px;
    height: 47px;
    background-position: -185px -182px;
}

.sprite-disneyjunior {
    width: 114px;
    height: 40px;
    background-position: -291px -215px;
}

.sprite-disneyxd {
    width: 80px;
    height: 55px;
    background-position: -415px -215px;
}

.sprite-dxtv {
    width: 100px;
    height: 38px;
    background-position: -505px -215px;
}

.sprite-eltrece {
    width: 60px;
    height: 60px;
    background-position: -80px -263px;
}

.sprite-encuentro {
    width: 65px;
    height: 65px;
    background-position: -150px -263px;
}

.sprite-espn2 {
    width: 106px;
    height: 29px;
    background-position: -505px -263px;
}

.sprite-espnplus {
    width: 111px;
    height: 39px;
    background-position: -225px -302px;
}

.sprite-espntv {
    width: 79px;
    height: 29px;
    background-position: -346px -302px;
}

.sprite-filmzone {
    width: 56px;
    height: 58px;
    background-position: -5px -302px;
}

.sprite-fox {
    width: 81px;
    height: 43px;
    background-position: -435px -302px;
}

.sprite-foxlife {
    width: 114px;
    height: 48px;
    background-position: -71px -355px;
}

.sprite-foxsports {
    width: 92px;
    height: 54px;
    background-position: -195px -355px;
}

.sprite-foxsports2 {
    width: 116px;
    height: 54px;
    background-position: -297px -355px;
}

.sprite-fx {
    width: 58px;
    height: 42px;
    background-position: -526px -302px;
}

.sprite-garage {
    width: 67px;
    height: 60px;
    background-position: -526px -354px;
}

.sprite-golden {
    width: 89px;
    height: 41px;
    background-position: -423px -355px;
}

.sprite-hbo {
    width: 76px;
    height: 40px;
    background-position: -5px -424px;
}

.sprite-hbo2 {
    width: 97px;
    height: 41px;
    background-position: -91px -424px;
}

.sprite-hboplus {
    width: 75px;
    height: 53px;
    background-position: -198px -424px;
}

.sprite-history {
    width: 66px;
    height: 53px;
    background-position: -283px -424px;
}

.sprite-hyh {
    width: 78px;
    height: 38px;
    background-position: -359px -424px;
}

.sprite-id {
    width: 54px;
    height: 59px;
    background-position: -447px -424px;
}

.sprite-isat {
    width: 95px;
    height: 40px;
    background-position: -511px -424px;
}

.sprite-ln_ {
    width: 68px;
    height: 43px;
    background-position: -5px -474px;
}

.sprite-magazine {
    width: 107px;
    height: 53px;
    background-position: -83px -493px;
}

.sprite-mtv {
    width: 69px;
    height: 49px;
    background-position: -359px -474px;
}

.sprite-natgeo {
    width: 100px;
    height: 36px;
    background-position: -511px -474px;
}

.sprite-nick {
    width: 80px;
    height: 41px;
    background-position: -200px -520px;
}

.sprite-onetv {
    width: 83px;
    height: 29px;
    background-position: -438px -520px;
}

.sprite-pakapaka {
    width: 98px;
    height: 45px;
    background-position: -5px -559px;
}

.sprite-qm {
    width: 55px;
    height: 55px;
    background-position: -290px -520px;
}

.sprite-rt {
    width: 67px;
    height: 58px;
    background-position: -531px -520px;
}

.sprite-rural {
    width: 70px;
    height: 41px;
    background-position: -590px -5px;
}

.sprite-rusia2018 {
    width: 64px;
    height: 64px;
    background-position: -599px -56px;
}

.sprite-sony {
    width: 56px;
    height: 46px;
    background-position: -583px -130px;
}

.sprite-space {
    width: 122px;
    height: 39px;
    background-position: -113px -588px;
}

.sprite-studiouniversal {
    width: 107px;
    height: 54px;
    background-position: -245px -588px;
}

.sprite-tateti {
    width: 148px;
    height: 38px;
    background-position: -362px -588px;
}

.sprite-tbs {
    width: 66px;
    height: 59px;
    background-position: -615px -186px;
}

.sprite-tcm {
    width: 55px;
    height: 55px;
    background-position: -621px -255px;
}

.sprite-tec {
    width: 98px;
    height: 33px;
    background-position: -520px -588px;
}

.sprite-telefe {
    width: 118px;
    height: 45px;
    background-position: -673px -5px;
}

.sprite-telemax {
    width: 82px;
    height: 45px;
    background-position: -673px -60px;
}

.sprite-telesur {
    width: 60px;
    height: 68px;
    background-position: -691px -115px;
}

.sprite-tn {
    width: 78px;
    height: 34px;
    background-position: -691px -193px;
}

.sprite-tnt {
    width: 50px;
    height: 52px;
    background-position: -765px -60px;
}

.sprite-trutv {
    width: 85px;
    height: 38px;
    background-position: -691px -237px;
}

.sprite-tvp {
    width: 58px;
    height: 61px;
    background-position: -761px -122px;
}

.sprite-tvuniversidad {
    width: 55px;
    height: 55px;
    background-position: -686px -285px;
}

.sprite-tycsports {
    width: 108px;
    height: 34px;
    background-position: -603px -350px;
}

.sprite-universal {
    width: 85px;
    height: 61px;
    background-position: -721px -350px;
}

.sprite-vh1 {
    width: 87px;
    height: 52px;
    background-position: -621px -421px;
}

.sprite-warner {
    width: 52px;
    height: 50px;
    background-position: -751px -285px;
}
