<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<util:map id="channelsIds" map-class="java.util.HashMap">

	    <entry key="a24">
	        <value>UCR9120YBAqMfntqgRTKmkjQ</value>
	    </entry>

		<entry key="americasports">
			<value>UCnx743KuO_16sCMIbEg7Y7Q</value>
		</entry>

		<entry key="c5n">
	        <value>UCFgk2Q2mVO1BklRQhSv6p0w</value>
	    </entry>
		
		<entry key="canal26">
	        <value>UCrpMfcQNog595v5gAS-oUsQ</value>
	    </entry>

		<entry key="cn23">
			<value>UCC05qIa00qEB06CtCi01NbQ</value>
		</entry>

		<entry key="cronica">
			<value>UCT7KFGv6s2a-rh2Jq8ZdM1g</value>
		</entry>

	    <entry key="kzo">
	        <value>UCv0zRACOVWmhu1Ilufm40-w</value>
	    </entry>
	    
	    <entry key="ln">
	        <value>UCba3hpU7EFBSk817y9qZkiA</value>
	    </entry>

		<entry key="nettv">
			<value>UC8aY1r3sNj1nujEisGkxtyA</value>
		</entry>

	    <entry key="rt">
	        <value>UCEIhICHOQOonjE6V0SLdrHQ</value>
	    </entry>
	    
	    <entry key="telesur">
	        <value>UCbHFKMtqLYkIBRiPHJwxu_w</value>
	    </entry>
	    
	    <entry key="tn">
	        <value>UCj6PcyLvpnIRT_2W_mwa9Aw</value>
	    </entry>
	    
	    <entry key="tvp">
	        <value>UCs231K71Bnu5295_x0MB5Pg</value>
	    </entry>
	    	
		<entry key="vorterix">
	        <value>UCvCTWHCbBC0b9UIeLeNs8ug</value>
	    </entry>
	    
	</util:map>
	

</beans>
