<div id=float-layer class="float-layer" >
	<br>
	<div id="social-buttons" class="social-buttons">
		<div class="info">	
			<a target="_blank" onclick="facebookShare()"  class=facebook  href="#"><i class="fab fa-facebook-square fa-lg"></i><span class=social-span>Compartir</span></a>
			<a target="_blank" onclick="twitterShare()"   class=twitter href="#"><i class="fab fa-twitter  fa-lg"></i><span class=social-span>Twittear</span></a>
		</div>
	</div>
	<div id=ad class=ad>
		<i id=close onclick=closeAd() class="close material-icons md-18 md-light">clear</i>
		<div class="kontextuaDisplayREGULARSS300x250"></div>
		<script src="http://cf.ads.kontextua.com/container/tags/83892.js"></script>
	</div>
	
</div>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>