<!DOCTYPE html><html lang="es">
    <head>
        <title>${title} | Colgado </title>
        <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
        <link rel="preload" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">        
        <meta name=viewport content="width=device-width, initial-scale=1.0,  user-scalable=yes"/>
        <meta name=google-site-verification content="IKzoNmqe6cDmat2NuqBP_TiVO11F84j4yuRbiMbKGbg"/>
        <meta name="description" content="${title} HD en vivo Online Gratis en tu PC, smartphone o tablet."/>
        <link rel="image_src" href="http://colgado.tv/imgs/play.png"/>
        <link rel="icon" type="image/png" href="/imgs/favicon.png"/>
        <link rel="icon" sizes="192x192" href="/imgs/play.png">
        <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/imgs/play.png">
        <link rel="apple-touch-icon-precomposed" sizes="167x167" href="/imgs/play.png">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/imgs/play.png">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/imgs/play.png">
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/imgs/play.png">
        <link rel="stylesheet" href="/view/css/style.css?v=${version}">
        <link rel="stylesheet" href="/view/css/${active}.css?v=${version}">
        <#if player??>
            <link rel="stylesheet" href="/view/css/float.css?v=${version}">
            <link rel="stylesheet" href="/view/css/media.css?v=${version}">
        </#if>
        <style>
            .sprite${active} {background-image: url(/imgs/sprites${active}.png?v=${version})}
        </style>
    </head>
    <body>
        <h1>TV Argentina ${title} HD en vivo Online Gratis en tu PC, smartphone o tablet.</h1>
        <div id=header class=header>
            <div id=center  class=center>
                <nav>
                    <a href="/" class="nav-page <#if active=='tv'>active</#if>">
                        <i class="tab material-icons">tv</i> <span>Televisi&oacute;n</span>
                    </a>
                    <a href="/radios" class="nav-page <#if active=='radios'>active</#if>">
                        <i class="tab material-icons">keyboard_voice</i><span>Radio</span>
                    </a>
                    <a href="/contacto" class="nav-page <#if active=='contacto'>active</#if>">
                        <i class="tab material-icons">mail_outline</i><span>Contacto</span>
                    </a>
                <#if schedule??>
                    <a href="${schedule}" class=nav-page target="_blank" ><i class="tab material-icons">date_range</i><span>Programaci&oacute;n</span></a>
                </#if>
                </nav>
            </div>
        </div>
        <div id=space  class=space></div>

        <#if player??>
            <div id=player-container class="player-container player-container-${active}">
                <div id=player class=player>
                    <#include "media/${active}/${player}.html">
                </div>
            </div>
            <#if ad?? && ad>
                <#include "float.html">
            </#if>
        <#else>
            <#include "${active}.html">
        </#if>
        <script type="text/javascript">
            var ACTIVE="${active}"; 
            var VERSION="${version}"; 
            var EVENT="${version}"
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>         
        <script src="/js/functions.js?v=${version}" ></script>
        <#if active=='contacto'>
            <#include "captcha.html">
        </#if>
        <#include "analytics.html">
    </body>
</html>
