
.card-contact{
	background: #1f1f1ff2;
    line-height: 25px;
    text-align: center;
    vertical-align: top;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-top: 15px;
    border-radius: .275rem;
    box-shadow: 0 6px 14px -4px rgba(0,0,0,.3);
}


.contact-label {
	vertical-align:top;
	display:inline-block;
	color:#989898;
	font-size: 0.95em;
	text-align:right;
	width:50px
}


.button {
	background-color: #ff0000;
	color:#fff;
	display:inline-block;
	font-family: roboto, serif;
	text-decoration:none;
	padding:6px 20px;
	margin-bottom: 15px;
	transition: .3s;
	font-size: 14.7px;
	font-weight: 500;
	border-radius: .2rem;
	box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
}

.form-contact {
	padding:1%;
	margin-top: 10px
}

textarea {
	resize:none
}


.logo-info:hover,
.button:hover {
    opacity: .7
}


.input-contact {
	background-color: #1f1f1ff2;
	font-family: roboto, serif;
    border: none;
    border-bottom: 2px solid #444444;
    color: #333;
    font-size: 0.875em;
    width: 250px;
    margin: 0 0 17px 7px;
    padding: 5px 2px 2px;
}

.input-contact:focus {
	border-bottom:2px solid#ff0000;
	outline:0;
	width:250px
}

.submit {
	display:none
}

.boton:active {
	position:relative;
	top:1px
}

.info a{
	margin-right: 10px;
	margin-left: 10px;
}
.info {
	margin-left: 0;
}

@-webkit-keyframes animatetop {
from {top:-300px; opacity:0} 
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}



@media screen and (max-width: 550px) {
	
	.card-contact{
		width: 95%
	}
}
