.float-layer {
	background-color:rgba(0,0,0, 0.2);
	transition:opacity .5s linear;
	display:block;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	opacity: 0;
	right:0;
	left:0;
	height: 520px;
	top: 70px;
	width: 910px;
	z-index:998
}

.close {
	color: #ffffff;
	cursor:pointer;
	position:absolute;
	top:10px;
	opacity: 0;
	left:560px;
	z-index:999;
	transition:opacity .5s linear;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
}

.close:before {
	content: "close";
	font-size: 25px;
	position: absolute;
	right: 1em;
	padding: 0 1px;
	font-family: "Material Icons";
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out
}

.close:active:before,
.close:focus:before,
.close:hover:before {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg)
}

.ad {
	display:inline-flex
}
