.float-layer {
	background-color:rgba(0,0,0, 0.2);
	transition:opacity .5s linear;
	display:block;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	opacity: 0;
	right:0;
	left:0;
	height: 520px;
	top: 70px;
	width: 910px;
	z-index:998
}

.close {
	color: #ff0000;
	cursor:pointer;
	position:absolute;
	top:55px;
	left:630px;
	opacity: 0;
	z-index:999;
	transition:opacity .5s linear;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
}

.close:before {
	content: "close";
	font-size: 25px;
	position: absolute;
	right: 1em;
	padding: 0 1px;
	font-family: "Material Icons";
}

.close:hover{
	text-shadow: 0 0 3px #FF0000;
}

.ad {
	background-color: white;
    width: 310px;
    height: 255px;
    margin-left: auto;
    margin-right: auto;
}

.social-span{
	font-size: 14.7px;
    vertical-align: middle;
    padding-left: 5px;
 }
