.float-layer {
	background-color:rgba(0,0,0, 0.2);
	transition:opacity .5s linear;
	display:block;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	opacity: 0;
	right:0;
	left:0;
	height: 520px;
	top: 70px;
	width: 910px;
	z-index:998
}

.close {
	color: #ff0000;
	cursor:pointer;
	opacity: 0;
    top: 0;
    right: 0;
	transition:opacity .5s linear;
}

.close:hover{
	text-shadow: 0 0 3px #FF0000;
}

.ad {
	background-color: transparent;
    width: 300px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    vertical-align: top;
    position: relative
}

.social-span{
	font-size: 14.7px;
    vertical-align: middle;
    padding-left: 5px;
 }