
body{
	background: #242424;
}

h1 {
    color: #e9ebee;
}

.header {
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 999;
	background: #242424;
	box-shadow: unset;
}


.active {
	color: white
}

.menu-icon-open {
	color: white;
	transition: .3s
}

.nav-page:hover ,.opcion2:hover {
	color: white;
	transition: .3s;
	background: #242424;
}

.opcion2{
	text-decoration: none;
	color: #7D7D7D;
}

.player-container2{
	display: none;
}


.player-container-tv,
.player-container-radios {
	max-width: 900px;
	margin-right: auto;
    margin-left: auto;
	margin-bottom: 15px;
	opacity: 0;
	transition: opacity .5s linear;
	line-height: 0;
	vertical-align: top;
	width: auto;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px
}

.player-container-radios {
	box-shadow: unset;
}

.player-container-tv {
	filter: blur(5px);
}

.player-protected {
	position: relative;
	display: none;
	background-color: #000;
	line-height: 0;
	z-index: 980
}

.player-protected iframe {
	overflow: hidden
}

.shield {
	cursor: pointer;
	position: relative;
	z-index: 980
}

#player{
	position: relative;
	overflow: hidden;
	background-color: #0000;
	line-height: 0;
	margin-left: auto;
    margin-right: auto;
	z-index: 980
}


@media screen and (max-width: 800px) {
	.player-container-tv {
		width: 100vw; 
		height: 56.25vw;
		filter: blur(0px);
	}
	.space{
		margin-top: 65px;
	}

	.player-protected {
		width: 100%;
		max-height: 400px
	}
	.player {
		width: 100%;
		max-height: 400px
	}
	iframe {
    	width: 100vw; 
    	height: 56.25vw;
	}
	.float-layer {
		display: none
	}

	audio {
		width: 100%
	}
}

@media screen and (max-width: 655px) {
	.header span{
		display: none;
	}
}

@media screen and (max-width: 325px) {
	.nav-page{
		margin-right: 3px;
		margin-left: 3px;
	}
}
