
.sprite-am750 {
    width: 99px;
    height: 33px;
    background-position: -5px -5px;
}

.sprite-aspen {
    width: 51px;
    height: 60px;
    background-position: -114px -5px;
}

.sprite-blue {
    width: 57px;
    height: 56px;
    background-position: -175px -5px;
}

.sprite-brava {
    width: 93px;
    height: 36px;
    background-position: -242px -5px;
}

.sprite-cadena3 {
    width: 106px;
    height: 17px;
    background-position: -345px -5px;
}

.sprite-cielo {
    width: 84px;
    height: 44px;
    background-position: -345px -32px;
}

.sprite-cnnradio {
    width: 117px;
    height: 47px;
    background-position: -5px -86px;
}

.sprite-continental {
    width: 48px;
    height: 58px;
    background-position: -132px -86px;
}

.sprite-convos {
    width: 60px;
    height: 60px;
    background-position: -190px -86px;
}

.sprite-coolradio {
    width: 89px;
    height: 28px;
    background-position: -260px -86px;
}

.sprite-cooperativa {
    width: 57px;
    height: 55px;
    background-position: -359px -86px;
}

.sprite-delplata {
    width: 57px;
    height: 56px;
    background-position: -5px -151px;
}

.sprite-delsol {
    width: 69px;
    height: 53px;
    background-position: -260px -151px;
}

.sprite-disney {
    width: 63px;
    height: 60px;
    background-position: -339px -151px;
}

.sprite-espn {
    width: 80px;
    height: 45px;
    background-position: -5px -221px;
}

.sprite-fmpasion {
    width: 83px;
    height: 57px;
    background-position: -95px -221px;
}

.sprite-la100 {
    width: 59px;
    height: 60px;
    background-position: -188px -221px;
}

.sprite-la99 {
    width: 68px;
    height: 51px;
    background-position: -257px -221px;
}

.sprite-lared {
    width: 60px;
    height: 59px;
    background-position: -335px -221px;
}

.sprite-laredonda {
    width: 89px;
    height: 62px;
    background-position: -5px -290px;
}

.sprite-latina {
    width: 101px;
    height: 39px;
    background-position: -257px -290px;
}

.sprite-los40 {
    width: 81px;
    height: 56px;
    background-position: -368px -290px;
}

.sprite-lu24 {
    width: 57px;
    height: 56px;
    background-position: -104px -290px;
}

.sprite-mega {
    width: 108px;
    height: 35px;
    background-position: -171px -339px;
}

.sprite-metro {
    width: 72px;
    height: 63px;
    background-position: -289px -356px;
}

.sprite-milenium {
    width: 65px;
    height: 64px;
    background-position: -371px -356px;
}

.sprite-mitre {
    width: 89px;
    height: 57px;
    background-position: -461px -5px;
}

.sprite-nacionalrock {
    width: 106px;
    height: 39px;
    background-position: -439px -72px;
}

.sprite-one {
    width: 83px;
    height: 29px;
    background-position: -426px -121px;
}

.sprite-pop {
    width: 86px;
    height: 51px;
    background-position: -72px -160px;
}

.sprite-radio10 {
    width: 90px;
    height: 47px;
    background-position: -412px -160px;
}

.sprite-radionacional {
    width: 117px;
    height: 45px;
    background-position: -412px -217px;
}

.sprite-radiox {
    width: 59px;
    height: 62px;
    background-position: -459px -272px;
}

.sprite-red92 {
    width: 82px;
    height: 61px;
    background-position: -459px -344px;
}

.sprite-rivadavia {
    width: 98px;
    height: 55px;
    background-position: -5px -415px;
}

.sprite-rocknpop {
    width: 81px;
    height: 60px;
    background-position: -113px -415px;
}

.sprite-rqp {
    width: 78px;
    height: 33px;
    background-position: -446px -415px;
}

.sprite-vale {
    width: 62px;
    height: 61px;
    background-position: -204px -415px;
}

.sprite-vida {
    width: 105px;
    height: 34px;
    background-position: -276px -458px;
}

.sprite-vorterix {
    width: 61px;
    height: 50px;
    background-position: -168px -160px;
}
