.sprite-aspen {
    width: 52px;
    height: 59px;
    background-position: -5px -5px;
}

.sprite-blue {
    width: 65px;
    height: 64px;
    background-position: -67px -5px;
}

.sprite-cadena3 {
    width: 125px;
    height: 19px;
    background-position: -142px -5px;
}

.sprite-cnnradio {
    width: 57px;
    height: 57px;
    background-position: -277px -5px;
}

.sprite-continental {
    width: 50px;
    height: 60px;
    background-position: -142px -72px;
}

.sprite-convos {
    width: 60px;
    height: 60px;
    background-position: -202px -72px;
}

.sprite-delplata {
    width: 57px;
    height: 57px;
    background-position: -272px -72px;
}

.sprite-disney {
    width: 64px;
    height: 64px;
    background-position: -5px -139px;
}

.sprite-la100 {
    width: 59px;
    height: 59px;
    background-position: -272px -139px;
}

.sprite-lared {
    width: 60px;
    height: 59px;
    background-position: -79px -208px;
}

.sprite-latina {
    width: 101px;
    height: 39px;
    background-position: -79px -142px;
}

.sprite-los40 {
    width: 81px;
    height: 56px;
    background-position: -149px -208px;
}

.sprite-mega {
    width: 125px;
    height: 46px;
    background-position: -149px -274px;
}

.sprite-metro {
    width: 68px;
    height: 59px;
    background-position: -344px -5px;
}

.sprite-milenium {
    width: 58px;
    height: 58px;
    background-position: -341px -74px;
}

.sprite-mitre {
    width: 85px;
    height: 57px;
    background-position: -284px -208px;
}

.sprite-one {
    width: 83px;
    height: 29px;
    background-position: -284px -275px;
}

.sprite-pop {
    width: 98px;
    height: 52px;
    background-position: -5px -314px;
}

.sprite-radio10 {
    width: 94px;
    height: 45px;
    background-position: -284px -314px;
}

.sprite-radionacional {
    width: 129px;
    height: 15px;
    background-position: -113px -369px;
}

.sprite-rivadavia {
    width: 62px;
    height: 57px;
    background-position: -422px -5px;
}

.sprite-rocknpop {
    width: 65px;
    height: 54px;
    background-position: -422px -72px;
}

.sprite-vale {
    width: 126px;
    height: 34px;
    background-position: -341px -142px;
}

.sprite-vorterix {
    width: 61px;
    height: 50px;
    background-position: -379px -186px;
}
