body {
	text-align: center;
	background: #171717;
	color: rgba(0, 0, 0, 1);
	font-family: 'roboto', serif;
	margin: 0 auto
}

h1 {
    color: #171717;
    font-size: 13px;
    top: 10px;
    position: absolute;
}

.spriteradios,
.spritetv {
	background-repeat: no-repeat;
	display: inline-block;
	margin-top: 8px;
}

.material-icons.md-light {
	font-size: 23px;
	display: inline
}

.header {
	background-color: rgba(23, 23, 23, 1);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 999;
}

.top-bar-scrolled {
  background-color: rgba(23, 23, 23, 0.95);
  box-shadow: 0 6px 4px -4px rgba(0,0,0,.3);
}

.menu-icon-open {
	color: #111;
	transition: .3s
}

nav {
	height: 55px;
	min-width: 920px;
}

.nav-page {
	display: inline-block;
	margin-right: 7px;
	margin-left: 7px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 15px;
	height: 40px;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	overflow: hidden;
	font-size: 14.7px;
    font-weight: 500;
}

.nav-page span {
	padding-left: 5px
}


.menu-icon {
	padding-left: 10px;
	padding-right: 10px;
}

nav a {
	text-decoration: none;
	color: #7D7D7D;
}

.nav-page:hover ,.opcion2:hover {
	color: white;
	transition: .3s;
}

.active i{
	color:#ff0000;
}

.active {
	color: #FFF;
}

a:visited {
	text-decoration: none
}

.tab {
	vertical-align: sub;
	font-weight: 400
}

.card-wrapper{
	display: inline-block;
    vertical-align: top;
	margin-left: 4px;
    margin-right: 4px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.card {
	background-color: #212121;
	border-color: #212121;
	border-width: 2px;
	border-style: solid;
    line-height: 25px;
    cursor: pointer;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 165px;
	max-width: 165px;
    height: 85px;
    border-radius: .275rem;
	transition: 0.2s ease;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,.1);
}

.card:hover {
	transform: scale(1.1);
	border-width: 2px;
	border-style: solid;
	border-color: white;
}

.container{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

img {
	border: 0
}

.space {
	margin-top: 70px;
	visibility: hidden
}

audio {
	width: 500px
}

.shadow {
	position: fixed;
	background-color: #000;
	display: none;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 997;
	transition-duration: 500ms;
}

br {
	line-height: 0;
	content: " ";
	display: block
}

iframe {
	border-width: 0
}

@media screen and (max-width: 800px) {
	nav {
		min-width: unset;
	}
	.tab{
		vertical-align: text-bottom;
		cursor: pointer;
		padding-left: 10px;
		padding-right: 10px;
	}
	.slide-in,
	.slide-in.on,
	.mclick {
		top: 55px
	}
}

@media screen and (max-width: 550px) {
	.spritetv,.spriteradios{
		 transform: scale(0.8);
	}
	.card{
		width: 120px;
		max-width: 120px;
		margin-left: 2px;
		margin-right: 2px;
	}
	.modal-content{
		width: 95%
	}
	.header span{
		display: none;
	}
	
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}