.sprite-a24 {
    width: 75px;
    height: 51px;
    background-position: -5px -5px;
}

.sprite-america {
    width: 51px;
    height: 48px;
    background-position: -90px -5px;
}

.sprite-americasports {
    width: 118px;
    height: 37px;
    background-position: -151px -5px;
}

.sprite-animalplanet {
    width: 78px;
    height: 53px;
    background-position: -279px -5px;
}

.sprite-argentinisima {
    width: 57px;
    height: 53px;
    background-position: -367px -5px;
}

.sprite-c5n {
    width: 113px;
    height: 48px;
    background-position: -434px -5px;
}

.sprite-canal26 {
    width: 57px;
    height: 53px;
    background-position: -90px -63px;
}

.sprite-canal9 {
    width: 59px;
    height: 56px;
    background-position: -157px -63px;
}

.sprite-cartoon {
    width: 81px;
    height: 55px;
    background-position: -434px -63px;
}

.sprite-cinecanal {
    width: 81px;
    height: 55px;
    background-position: -5px -128px;
}

.sprite-cinemax {
    width: 105px;
    height: 40px;
    background-position: -226px -128px;
}

.sprite-ciudad {
    width: 78px;
    height: 53px;
    background-position: -341px -128px;
}

.sprite-cronica {
    width: 81px;
    height: 55px;
    background-position: -429px -128px;
}

.sprite-directvsports {
    width: 60px;
    height: 58px;
    background-position: -5px -193px;
}

.sprite-discovery {
    width: 80px;
    height: 54px;
    background-position: -75px -193px;
}

.sprite-discoverykids {
    width: 61px;
    height: 63px;
    background-position: -165px -193px;
}

.sprite-disneychannel {
    width: 96px;
    height: 47px;
    background-position: -236px -193px;
}

.sprite-disneyxd {
    width: 80px;
    height: 55px;
    background-position: -342px -193px;
}

.sprite-dxtv {
    width: 81px;
    height: 55px;
    background-position: -432px -193px;
}

.sprite-eltrece {
    width: 60px;
    height: 60px;
    background-position: -75px -258px;
}

.sprite-encuentro {
    width: 78px;
    height: 53px;
    background-position: -236px -258px;
}

.sprite-espn2 {
    width: 106px;
    height: 29px;
    background-position: -324px -258px;
}

.sprite-espnplus {
    width: 111px;
    height: 39px;
    background-position: -440px -258px;
}

.sprite-espntv {
    width: 79px;
    height: 29px;
    background-position: -145px -307px;
}

.sprite-fox {
    width: 78px;
    height: 53px;
    background-position: -324px -307px;
}

.sprite-foxsports {
    width: 92px;
    height: 54px;
    background-position: -412px -307px;
}

.sprite-foxsports2 {
    width: 116px;
    height: 54px;
    background-position: -5px -371px;
}

.sprite-foxsportspremium {
    width: 87px;
    height: 54px;
    background-position: -131px -371px;
}

.sprite-fx {
    width: 89px;
    height: 42px;
    background-position: -228px -371px;
}

.sprite-garage {
    width: 81px;
    height: 55px;
    background-position: -327px -371px;
}

.sprite-hbo {
    width: 96px;
    height: 50px;
    background-position: -418px -371px;
}

.sprite-history {
    width: 66px;
    height: 53px;
    background-position: -228px -431px;
}

.sprite-id {
    width: 54px;
    height: 59px;
    background-position: -418px -431px;
}

.sprite-kzo {
    width: 81px;
    height: 55px;
    background-position: -5px -500px;
}

.sprite-ln_ {
    width: 68px;
    height: 43px;
    background-position: -482px -431px;
}

.sprite-magazine {
    width: 105px;
    height: 50px;
    background-position: -96px -500px;
}

.sprite-mtv {
    width: 81px;
    height: 55px;
    background-position: -304px -484px;
}

.sprite-natgeo {
    width: 118px;
    height: 43px;
    background-position: -395px -500px;
}

.sprite-nettv {
    width: 50px;
    height: 60px;
    background-position: -557px -5px;
}

.sprite-nick {
    width: 95px;
    height: 55px;
    background-position: -520px -128px;
}

.sprite-pakapaka {
    width: 98px;
    height: 45px;
    background-position: -514px -307px;
}

.sprite-rt {
    width: 55px;
    height: 55px;
    background-position: -523px -193px;
}

.sprite-rural {
    width: 78px;
    height: 53px;
    background-position: -524px -362px;
}

.sprite-space {
    width: 110px;
    height: 50px;
    background-position: -211px -553px;
}

.sprite-telefe {
    width: 109px;
    height: 35px;
    background-position: -331px -553px;
}

.sprite-telemax {
    width: 118px;
    height: 41px;
    background-position: -226px -75px;
}

.sprite-telesur {
    width: 81px;
    height: 55px;
    background-position: -523px -484px;
}

.sprite-tn {
    width: 78px;
    height: 34px;
    background-position: -525px -75px;
}

.sprite-tnt {
    width: 56px;
    height: 55px;
    background-position: -523px -549px;
}

.sprite-tntsports {
    width: 119px;
    height: 50px;
    background-position: -617px -5px;
}

.sprite-trutv {
    width: 81px;
    height: 55px;
    background-position: -625px -65px;
}

.sprite-tvp {
    width: 57px;
    height: 55px;
    background-position: -625px -130px;
}

.sprite-tvuniversidad {
    width: 55px;
    height: 55px;
    background-position: -588px -195px;
}

.sprite-tycsports {
    width: 118px;
    height: 30px;
    background-position: -96px -130px;
}

.sprite-universal {
    width: 81px;
    height: 55px;
    background-position: -653px -195px;
}

.sprite-vorterix {
    width: 81px;
    height: 55px;
    background-position: -622px -260px;
}

.sprite-warner {
    width: 81px;
    height: 55px;
    background-position: -622px -325px;
}
