
.sprite-a24 {
    width: 90px;
    height: 32px;
    background-position: -5px -5px;
}

.sprite-amc {
    width: 75px;
    height: 34px;
    background-position: -105px -5px;
}

.sprite-america {
    width: 50px;
    height: 54px;
    background-position: -190px -5px;
}

.sprite-americasports {
    width: 75px;
    height: 55px;
    background-position: -250px -5px;
}

.sprite-animalplanet {
    width: 100px;
    height: 60px;
    background-position: -335px -5px;
}

.sprite-argentinisima {
    width: 58px;
    height: 58px;
    background-position: -445px -5px;
}

.sprite-axn {
    width: 96px;
    height: 40px;
    background-position: -5px -73px;
}

.sprite-c5n {
    width: 60px;
    height: 62px;
    background-position: -513px -5px;
}

.sprite-canal26 {
    width: 55px;
    height: 55px;
    background-position: -111px -77px;
}

.sprite-canal9 {
    width: 59px;
    height: 56px;
    background-position: -176px -77px;
}

.sprite-cartoon {
    width: 69px;
    height: 45px;
    background-position: -245px -77px;
}

.sprite-cinecanal {
    width: 100px;
    height: 26px;
    background-position: -324px -77px;
}

.sprite-cinemax {
    width: 105px;
    height: 40px;
    background-position: -434px -77px;
}

.sprite-ciudad {
    width: 55px;
    height: 55px;
    background-position: -5px -127px;
}

.sprite-cn23 {
    width: 81px;
    height: 30px;
    background-position: -324px -127px;
}

.sprite-cnn {
    width: 71px;
    height: 50px;
    background-position: -415px -127px;
}

.sprite-cronica {
    width: 108px;
    height: 29px;
    background-position: -70px -187px;
}

.sprite-directvsports {
    width: 60px;
    height: 58px;
    background-position: -496px -127px;
}

.sprite-discovery {
    width: 116px;
    height: 23px;
    background-position: -188px -195px;
}

.sprite-discoverykids {
    width: 61px;
    height: 63px;
    background-position: -314px -195px;
}

.sprite-disneychannel {
    width: 96px;
    height: 47px;
    background-position: -385px -187px;
}

.sprite-disneyjunior {
    width: 114px;
    height: 40px;
    background-position: -5px -244px;
}

.sprite-disneyxd {
    width: 80px;
    height: 55px;
    background-position: -491px -195px;
}

.sprite-dxtv {
    width: 100px;
    height: 38px;
    background-position: -129px -244px;
}

.sprite-eltrece {
    width: 60px;
    height: 60px;
    background-position: -239px -260px;
}

.sprite-encuentro {
    width: 65px;
    height: 65px;
    background-position: -385px -260px;
}

.sprite-espn2 {
    width: 106px;
    height: 29px;
    background-position: -460px -260px;
}

.sprite-espnplus {
    width: 111px;
    height: 39px;
    background-position: -5px -299px;
}

.sprite-espntv {
    width: 79px;
    height: 29px;
    background-position: -126px -299px;
}

.sprite-fox {
    width: 81px;
    height: 43px;
    background-position: -460px -299px;
}

.sprite-foxlife {
    width: 114px;
    height: 48px;
    background-position: -5px -352px;
}

.sprite-foxsports {
    width: 92px;
    height: 54px;
    background-position: -129px -352px;
}

.sprite-foxsports2 {
    width: 116px;
    height: 54px;
    background-position: -231px -352px;
}

.sprite-foxsportspremium {
    width: 87px;
    height: 54px;
    background-position: -357px -352px;
}

.sprite-fx {
    width: 58px;
    height: 42px;
    background-position: -454px -352px;
}

.sprite-garage {
    width: 65px;
    height: 58px;
    background-position: -522px -352px;
}

.sprite-golden {
    width: 89px;
    height: 41px;
    background-position: -5px -420px;
}

.sprite-hbo {
    width: 76px;
    height: 40px;
    background-position: -104px -420px;
}

.sprite-history {
    width: 66px;
    height: 53px;
    background-position: -190px -420px;
}

.sprite-hyh {
    width: 78px;
    height: 38px;
    background-position: -266px -420px;
}

.sprite-id {
    width: 54px;
    height: 59px;
    background-position: -354px -420px;
}

.sprite-isat {
    width: 95px;
    height: 40px;
    background-position: -418px -420px;
}

.sprite-kzo {
    width: 83px;
    height: 45px;
    background-position: -418px -470px;
}

.sprite-ln_ {
    width: 68px;
    height: 43px;
    background-position: -104px -470px;
}

.sprite-magazine {
    width: 107px;
    height: 53px;
    background-position: -5px -525px;
}

.sprite-mtv {
    width: 69px;
    height: 49px;
    background-position: -266px -470px;
}

.sprite-natgeo {
    width: 100px;
    height: 36px;
    background-position: -122px -525px;
}

.sprite-nettv {
    width: 50px;
    height: 60px;
    background-position: -523px -420px;
}

.sprite-nick {
    width: 80px;
    height: 41px;
    background-position: -345px -525px;
}

.sprite-pakapaka {
    width: 98px;
    height: 45px;
    background-position: -435px -525px;
}

.sprite-rt {
    width: 67px;
    height: 58px;
    background-position: -583px -5px;
}

.sprite-rural {
    width: 70px;
    height: 41px;
    background-position: -583px -73px;
}

.sprite-sony {
    width: 56px;
    height: 46px;
    background-position: -566px -124px;
}

.sprite-space {
    width: 122px;
    height: 39px;
    background-position: -543px -490px;
}

.sprite-studiouniversal {
    width: 107px;
    height: 54px;
    background-position: -543px -539px;
}

.sprite-tcm {
    width: 55px;
    height: 55px;
    background-position: -581px -180px;
}

.sprite-tec {
    width: 98px;
    height: 33px;
    background-position: -551px -299px;
}

.sprite-telefe {
    width: 109px;
    height: 35px;
    background-position: -5px -603px;
}

.sprite-telemax {
    width: 82px;
    height: 45px;
    background-position: -583px -420px;
}

.sprite-telesur {
    width: 60px;
    height: 68px;
    background-position: -597px -342px;
}

.sprite-tn {
    width: 78px;
    height: 34px;
    background-position: -581px -245px;
}

.sprite-tnt {
    width: 50px;
    height: 52px;
    background-position: -309px -289px;
}

.sprite-tntsports {
    width: 120px;
    height: 41px;
    background-position: -124px -603px;
}

.sprite-trutv {
    width: 85px;
    height: 38px;
    background-position: -5px -475px;
}

.sprite-tvp {
    width: 58px;
    height: 61px;
    background-position: -254px -539px;
}

.sprite-tvuniversidad {
    width: 55px;
    height: 55px;
    background-position: -660px -5px;
}

.sprite-tycsports {
    width: 108px;
    height: 34px;
    background-position: -322px -603px;
}

.sprite-universal {
    width: 85px;
    height: 61px;
    background-position: -646px -124px;
}

.sprite-vorterix {
    width: 61px;
    height: 50px;
    background-position: -669px -195px;
}

.sprite-warner {
    width: 52px;
    height: 50px;
    background-position: -669px -255px;
}
