<!DOCTYPE html><html lang="es">
    <head>
        <title>{{title |raw}}{% if page is empty %} | Colgado{% endif %}</title>
        <meta name=description content="{{description | raw}}"/>
        <meta name=viewport content="width=device-width, initial-scale=1.0,  user-scalable=yes"/>
        <meta name=google-site-verification content="{{googleKey}}" />
        <link rel="image_src" href="http://colgado.tv/view/imgs/play.png"/>
        <link rel="icon" type="image/png" href="/view/imgs/favicon.png" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/view/css/style.css?v={{version}}">
        <link rel="stylesheet" type="text/css" href="/view/css/{{active}}.css?v={{version}}">
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
        <style>.sprite{{active}} {background-image: url(/view/imgs/sprites{{active}}.png?v={{version}})}</style>
        {% if player is defined %} 
        <link rel="stylesheet" type="text/css" href="/view/css/float.css?v={{version}}"> 
        <link rel="stylesheet" type="text/css" href="/view/css/media.css?v={{version}}">
        {% endif %}

    </head>
    <body ng-app=colgado>

        <div id=header class=header>
            <div id=center  class=center>
                <nav ng-cloak>
                <a href="#!"  class="nav-page menu-icon-tab" id=menu-tab onclick=menuClick() >
                    <i id=menu-icon class="tab menu-icon material-icons ">menu</i>
                </a>
                <a href="/"   class="nav-page {% if active=='tv'%}active{% endif %}">
                    <i class="tab material-icons">tv</i> <span>Televisi&oacute;n</span>
                </a>
                <a href="/radios"   class="nav-page {% if active=='radios'%}active{% endif %}">
                    <i class="tab material-icons">keyboard_voice</i><span>Radio</span>
                </a>
                <a href="/contacto" class="nav-page {% if active=='contacto'%}active{% endif %}">
                    <i class="tab material-icons">mail_outline</i><span>Contacto</span>
                </a>
                {% if schedule is defined %}
                <a href="{{schedule}}" class=nav-page target="_blank" ><i class="tab material-icons">date_range</i><span>Programaci&oacute;n</span></a>
                {% endif %}
                </nav>
            </div>
        </div>
        <div id=menu class=slide-in>
            <input type=text id=menu-search class=menu-search placeholder="Buscar..."/>
            <ul id=items class=items>{% include 'html/menuitems.html' %}</ul>
        </div>
        <div id=space  class=space></div>
        {% if player is defined %}
            <script>var playerOn=true </script> 

            <div id=player-container class="player-container player-container-{{active}} ">
                {% if protected is defined and protected %}
                    <img id=shield class=shield alt=shield src="/view/imgs/shield.jpg" onclick=hideShield() />
                    <div id=player-protected class=player-protected>
                    <script type="text/javascript">var content = '{% include "html/media/" ~active~ "/" ~player~ ".html" |raw %}';</script>
                    </div>
                {% else %}
                    <div id=player class=player>
                    {% include 'html/media/' ~active~ '/' ~player~ '.html' |raw %}
                    </div>
                {% endif %}
            </div>
        {% else %}
            {% if EVENT and active=='tv' %}
                <div class=card ng-cloak>
                    <a href="tv/evento" alt="{{EVENT.title}}"><img width=480 src="{{EVENT.banner}}" /></a>
                </div>      
            {% endif %}
            {% include 'html/'~page |raw %}       
        {% endif %}
        {% if ad %}
            {% include 'html/ad.html' |raw %}
        {% endif %}
        <script type="text/javascript">var ACTIVE="{{active}}"; var VERSION="{{version}}"; var EVENT="{{EVENT.title}}"</script>             
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script type="text/javascript" src="/view/js/functions.js?v={{version}}" ></script>
        {% include 'html/analytics.html' |raw %}
    </body>
</html>
