<!DOCTYPE html><html lang="es">
    <head>
        <title>{{title |raw}}{% if page is empty %} | Colgado{% endif %}</title>
        <meta name=description content="{{description | raw}}"/>
        <meta name=viewport content="width=device-width, initial-scale=1.0, maximum-scale=1.1, user-scalable=yes"/>
        <meta name=google-site-verification content="{{googleKey}}" />
        <meta property="og:title" content="Colgado del Cable"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="http://colgado.tv"/>
        <meta property="og:image" content="http://colgado.tv/view/imgs/play.png"/>
        <meta property="og:description" content="{{description | raw}}"/>
        <link rel="image_src" href="http://colgado.tv/view/imgs/play.png"/>
        <link href="/view/imgs/favicon.ico" rel=icon type="image/x-icon">
        <link href="/view/imgs/favicon.png" rel=apple-touch-icon />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel=stylesheet>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/view/css/style.css?v={{version}}">
        <link rel="stylesheet" type="text/css" href="/view/css/{{active}}.css?v={{version}}">
        <style>.sprite{{active}} {background-image: url(/view/imgs/sprites{{active}}.png?v={{version}})}</style>
        {% if player is defined %}
              <link rel="stylesheet" type="text/css" href="/view/css/ad.css?v={{version}}">
        {% endif %}
    </head>
    <body>
        <div id=header class=header>
            <div id=center  class=center>
                <nav>
                <i id=menu-icon class="menu-icon material-icons md-24 md-light ">menu</i> 
                <a href="/" id=nav-tv class="nav-page {% if active=='tv'%}active{% endif %}"><i class="tab material-icons md-18 md-light">live_tv</i></a>
                <a href="/radios"     class="nav-page {% if active=='radios'%}active{% endif %}"><i class="tab material-icons md-18 md-light">radio</i><span></span></a>
                <a href="/contacto"   class="nav-page {% if active=='contacto'%}active{% endif %}"><i class="tab material-icons md-18 md-light">mail_outline</i></a>
                <a href="/ayuda"      class="nav-page {% if active=='ayuda'%}active{% endif %} nav-help"><i class="tab material-icons md-18 md-light">info_outline</i></a>
                {% if schedule is defined %}
                <a href="{{schedule}}" class=nav-page target="_blank" ><i class="schedul tab material-icons md-18 md-light">date_range</i></a>
                {% endif %}
                {% if player is defined %}
                <a href="#" id=nav-lights class=nav-page><i class="tab material-icons md-18 md-light">brightness_6</i></a>
                {% endif %}
                </nav>
            </div>
        </div>
        <div id=menu class=slide-in>
            <input type=text id=menu-search class=menu-search placeholder="Buscar..."/>
            <ul id=items class=items>{% include 'html/menuitems.html' %}</ul>
        </div>
        <div id=space  class=space></div>
        <div id=shadow class=shadow></div>
        {% if player is defined %}
            <div id=player-container class=player-container>
                {% if protected is defined and protected %}
                    <img id=shield class="shield player-tv" alt=shield src="/view/imgs/shield.jpg" />
                    <div id=player-protected class="player-protected">
                    <script type="text/javascript">var content = '{% include "html/media/" ~active~ "/" ~player~ ".html" |raw %}';</script>
                    </div>
                {% else %}
                    <div id=player class=player-{{active}}>
                    {% include 'html/media/' ~active~ '/' ~player~ '.html' |raw %}
                    </div>
                {% endif %}
            </div>
        {% else %}
            {% if EVENT is defined and active=='tv' %}
                <div class=card>
                    <span class=title-vipe>{{EVENT.title}}</span><br>
                    <a href="tv/evento" alt="{{EVENT.title}}"><img src="{{EVENT.banner}}" /></a>
                </div>      
            {% endif %}
            {% include 'html/'~page |raw %}       
        {% endif %}
        {% if ad %}{% include 'html/ad.html' |raw %}{% endif %}
        <script type="text/javascript">var ACTIVE="{{active}}"; var VERSION="{{version}}"; var EVENT="{{EVENT.title}}"</script>             
        <script type="text/javascript" src="/view/js/jquery.js" ></script>
        <script type="text/javascript" src="/view/js/scripts.js?v={{version}}" ></script>
    </body>
</html>