<!DOCTYPE html><html lang="es">
    <head>
        <title>
        {{titulo |raw}}{% if page is empty %} | Colgado{% endif %}
        </title>
        <style>
        {% include 'css/style.css' |raw %}
        {% include 'css/fonts.css' |raw %}
        {% include 'css/sprites.css' |raw %}
        </style>
        <meta name="description" content="{{descripcion | raw}}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta property="og:title" content="Colgado del Cable"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="http://colgado.tv"/>
        <meta property="og:image" content="http://colgado.tv/view/imgs/play.png"/>
        <meta property="og:description" content="{{descripcion | raw}}"/>
        <meta name="google-site-verification" content="{{googleKey}}" />
        <link rel="image_src" href="http://colgado.tv/view/imgs/play.png"/>
        <link href="/view/imgs/favicon.ico" rel="icon" type="image/x-icon">
        <link href="/view/imgs/favicon.png" rel="apple-touch-icon"/>
        <link href="/view/imgs/favicon76.png" rel="apple-touch-icon" sizes="76x76"/>
        <link href="/view/imgs/favicon120.png" rel="apple-touch-icon" sizes="120x120"/>
        <link href="/view/imgs/favicon152.png" rel="apple-touch-icon" sizes="152x152"/>
    </head>
    <body>
        <div id="header">
            <div id="centro">
                <nav>
                    <ul>
                    <li><img class="tab" id="menu-icon" src="/view/imgs/icon_menu.png" alt="logo" width="24" height="24" ></li>
                    <li><a href="/" id="nav-home"><img id="logo" src="/view/imgs/logo.png" alt="" width="166" height="48"/></a></li>
                    <li class="tab {% if activa==0 %}pagActiva{% endif %}"><a href="/tv" id="nav-tv"             >CABLE</a></li>
                    <li class="tab {% if activa==2 %}pagActiva{% endif %}"><a href="/radios" id="nav-radio"      >RADIOS</a></li>
                    <li class="tab {% if activa==3 %}pagActiva{% endif %}"><a href="/contacto" id="nav-contacto" >CONTACTO</a></li>
                    <li class="tab {% if activa==4 %}pagActiva{% endif %}"><a href="/ayuda" id="nav-ayuda"       >AYUDA</a></li>
                    <li id="programacion">{% if programacion is defined %}<a href="{{programacion}}" target="_blank" class="tab" >PROGRAMACI&Oacute;N</a>{% endif %}</li>
                    {% if player is defined %}
                    <li><a class="" id="luces" href="#"></a></li>
                    {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        <div id="menu" class="slide-in">
            <input type="text" id="menu-search" placeholder="Buscar..."/> 
            <ul id="items">{% include 'html/menuitems.html' %}</ul>
        </div>
        <div id="space"></div>
        <div id="sombra"></div>        
        {% if player is defined %}
        <div id="cuerpo">
            {% if protected is defined and protected %}
                <img id="shield" alt="shield" src="/view/imgs/shield.jpg" />
                <div id="playerProtected">
                <script type="text/javascript">var content = '{{player |raw}}';</script>
                </div>
            {% else %}
                <div id="player">{{player |raw}}</div>
            {% endif %}    
        </div>        
        {% else %}
            {% include 'html/'~page |raw %}
        {% endif %}        
        {% if ad %}
            {% include 'html/ad.html' |raw %}
        {% endif %}       
        <script type="text/javascript">{% include 'js/jquery.js' |raw %}</script>
        <script type="text/javascript">{% include 'js/scripts.js' |raw %}</script> 
    </body>
</html>